---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-orcid:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":2793,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 01 Aug 2020 13:34:54 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-orcid:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ9wYTIyO8CPwNodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2NwcC4yMTcz","total-results":2793,"items":[{"indexed":{"date-parts":[[2019,12,24]],"date-time":"2019-12-24T12:10:10Z","timestamp":1577189410134},"posted":{"date-parts":[[2018,1,4]]},"group-title":"PeerJ
        Preprints","reference-count":0,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T00:00:00Z","timestamp":1515024000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2018,1,4]]},"abstract":"<jats:p>Whale
        sharks <jats:italic>Rhincodon typus<\/jats:italic>, the world\u2019s largest
        fish, are routinely sighted off the northwest coast of Madagascar, particularly
        off the island of Nosy Be. Dedicated whale shark tourism has been developing
        in the area since 2011. During our first dedicated survey, from September-December
        2016, we photo-identified 85 individual whale sharks, ranging from 3.5\u20138
        m in total length (all juveniles). None had been previously identified from
        o[...]
