---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5061/dryad.j86rt6b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"4ceac5ca580e5d8fce59516033accd03"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5061/dryad.j86rt6b","type":"dois","attributes":{"doi":"10.5061/dryad.j86rt6b","prefix":"10.5061","suffix":"dryad.j86rt6b","identifiers":[{"identifier":"https://handle.test.datacite.org/10.5061/dryad.j86rt6b","identifierType":"DOI"},{"identifier":"Smith
        CS, Ito M, Namba M, Nakaoka M (2018) Oyster aquaculture impacts Zostera marina
        epibiont community composition in Akkeshi-ko estuary, Japan. PLOS ONE 13(5):
        e0197753.","identifierType":"citation"}],"creators":[{"name":"Smith, Carter
        S.","nameType":"Personal","givenName":"Carter S.","familyName":"Smith"},{"name":"Ito,
        Minako","nameType":"Personal","givenName":"Minako","familyName":"Ito"},{"name":"Namba,
        Mizuho","nameType":"Personal","givenName":"Mizuho","familyName":"Namba"},{"name":"Nakaoka,
        Masahiro","nameType":"Personal","givenName":"Masahiro","familyName":"Nakaoka"}],"titles":[{"title":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan"}],"publisher":"Dryad Digital Repository","container":{},"publicationYear":2018,"subjects":[{"subject":"Oyster
        aquaculture"},{"subject":"Seagrass"},{"subject":"Japan"},{"subject":"Zostera
        marina"},{"subject":"Crassostrea gigas"}],"contributors":[],"dates":[{"date":"2018","dateType":"Issued"}],"language":null,"types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"DataPackage","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/1","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/2","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/3","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/4","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/5","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/6","relatedIdentifierType":"DOI"},{"relationType":"IsReferencedBy","relatedIdentifier":"10.1371/journal.pone.0197753","relatedIdentifierType":"DOI"},{"relationType":"IsSupplementTo","relatedIdentifier":"10.1371/journal.pone.0197753","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[{"rightsUri":"http://creativecommons.org/publicdomain/zero/1.0"}],"descriptions":[],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeG1sbnM6bWV0cz0iaHR0cDovL3d3dy5sb2MuZ292L01FVFMvIiB4bWxuczpkc3BhY2U9Imh0dHA6Ly93d3cuZHNwYWNlLm9yZy94bWxucy9kc3BhY2UvZGltIiB4bWxuczpkaW09Imh0dHA6Ly93d3cuZHNwYWNlLm9yZy94bWxucy9kc3BhY2UvZGltIiB4bWxuczpkcnlhZD0iaHR0cDovL3B1cmwub3JnL2RyeWFkL3Rlcm1zLyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3N[...]
- request:
    method: get
    uri: https://doi.org/ra/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5061",
            "RA": "DataCite"
          }
        ]
  recorded_at: Fri, 15 Mar 2019 14:23:27 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5061/dryad.j86rt6b/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 15 Mar 2019 14:23:28 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pone.0197753
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,2,18]],"date-time":"2019-02-18T06:03:10Z","timestamp":1550469790576},"reference-count":61,"publisher":"Public
        Library of Science (PLoS)","issue":"5","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2018,5,24]],"date-time":"2018-05-24T00:00:00Z","timestamp":1527120000000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["OISE-1613161"]},{"DOI":"10.13039\/501100001691","name":"Japan
        Society for the Promotion of Science","doi-asserted-by":"publisher","award":["OISE-1613161"]},{"name":"Environmental
        Research and Technology Development Fund (S-15 Predicting and Assessing Natural
        Capital and Ecosystem Services [PANCES]) of the Ministry of the Environment,
        Japan","award":[]}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0197753","type":"journal-article","created":{"date-parts":[[2018,5,24]],"date-time":"2018-05-24T17:58:51Z","timestamp":1527184731000},"page":"e0197753","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":1,"title":["Oyster
        aquaculture impacts Zostera marina epibiont community composition in Akkeshi-ko
        estuary, Japan"],"prefix":"10.1371","volume":"13","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-6652-3010","authenticated-orcid":true,"given":"Carter
        S.","family":"Smith","sequence":"first","affiliation":[]},{"given":"Minako","family":"Ito","sequence":"additional","affiliation":[]},{"given":"Mizuho","family":"Namba","sequence":"additional","affiliation":[]},{"given":"Masahiro","family":"Nakaoka","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2018,5,24]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"629","DOI":"10.1126\/science.1059199","article-title":"Historical
        overfishing and the recent collapse of coastal ecosystems","volume":"293","author":"JB
        Jackson","year":"2001","journal-title":"Science"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"578","DOI":"10.1126\/science.1173146","article-title":"Rebuilding
        global fisheries","volume":"325","author":"B Worm","year":"2009","journal-title":"Science"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"2","DOI":"10.2307\/1352278","article-title":"Aquaculture
        in estuaries: Feast or famine?","volume":"18","author":"PL deFur","year":"1995","journal-title":"Estuaries"},{"key":"ref4","year":"2016"},{"key":"ref5","doi-asserted-by":"crossref","first-page":"1806","DOI":"10.1126\/science.1128035","article-title":"Depletion,
        degradation, and recovery potential of estuaries and coastal seas","volume":"312","author":"HK
        Lotze","year":"2006","journal-title":"Science"},{"key":"ref6","doi-asserted-by":"crossref","first-page":"1017","DOI":"10.1038\/35016500","article-title":"Effect
        of aquaculture on world fish supplies","volume":"405","author":"RL Naylor","year":"2000","journal-title":"Nature"},{"key":"ref7","doi-asserted-by":"crossref","first-page":"91","DOI":"10.1016\/S0921-8009(00)00170-1","article-title":"Development
        and conservation of Philippine mangroves: institutional issues","volume":"35","author":"JH
        Primavera","year":"2000","journal-title":"Ecol Econ"},{"key":"ref8","doi-asserted-by":"crossref","first-page":"807","DOI":"10.1641\/0006-3568(2001)051[0807:MFOOTW]2.0.CO;2","article-title":"Mangrove
        forests: One of the world&apos;s threatened major tropical environments","volume":"51","author":"I
        Valiela","year":"2001","journal-title":"Bioscience"},{"key":"ref9","author":"R
        Goldburg","year":"1997"},{"key":"ref10","doi-asserted-by":"crossref","first-page":"199","DOI":"10.1016\/j.aquaculture.2003.11.020","article-title":"Effects
        of fish farming waste to sedimentary and particulate organic matter in a southern
        Mediterranean area (Gulf of Castellammare, Sicily): a multip[...]
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","attributes":{"messageAction":"create","subjId":"https://doi.org/10.5061/dryad.j86rt6b","objId":"https://doi.org/10.5061/dryad.j86rt6b/1","relationTypeId":"has-part","sourceId":"datacite-related","sourceToken":"28276d12-b320-41ba-9272-bb0adc3466ff","occurredAt":"2019-02-03T08:31:45.000Z","timestamp":"2019-03-15T14:23:28Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.5061/dryad.j86rt6b","@type":"Dataset","name":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan","author":[{"name":"Carter S. Smith","givenName":"Carter
        S.","familyName":"Smith","@type":"Person"},{"name":"Minako Ito","givenName":"Minako","familyName":"Ito","@type":"Person"},{"name":"Mizuho
        Namba","givenName":"Mizuho","familyName":"Namba","@type":"Person"},{"name":"Masahiro
        Nakaoka","givenName":"Masahiro","familyName":"Nakaoka","@type":"Person"}],"publisher":{"@type":"Organization","name":"Dryad
        Digital Repository"},"datePublished":"2018","dateModified":"2019-02-03T08:31:45.000Z","proxyIdentifiers":["10.1371/journal.pone.0197753"],"registrantId":"datacite.dryad.dryad"},"obj":{}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Fri, 15 Mar 2019 14:23:31 GMT
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"message_action":"create","subj_id":"https://doi.org/10.5061/dryad.j86rt6b","obj_id":"https://doi.org/10.5061/dryad.j86rt6b/1","relation_type_id":"has_part","source_id":"datacite_related","source_token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred_at":"2019-02-03T08:31:45.000Z","timestamp":"2019-03-15T14:23:28Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.5061/dryad.j86rt6b","@type":"Dataset","name":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan","author":[{"name":"Carter S. Smith","givenName":"Carter
        S.","familyName":"Smith","@type":"Person"},{"name":"Minako Ito","givenName":"Minako","familyName":"Ito","@type":"Person"},{"name":"Mizuho
        Namba","givenName":"Mizuho","familyName":"Namba","@type":"Person"},{"name":"Masahiro
        Nakaoka","givenName":"Masahiro","familyName":"Nakaoka","@type":"Person"}],"publisher":{"@type":"Organization","name":"Dryad
        Digital Repository"},"datePublished":"2018","dateModified":"2019-02-03T08:31:45.000Z","proxyIdentifiers":["10.1371/journal.pone.0197753"],"registrantId":"datacite.dryad.dryad"},"obj":{},"id":"8272c30f-9bad-473b-aef3-853ec2803bdd"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: Forbidden.
  recorded_at: Fri, 15 Mar 2019 14:23:31 GMT
[...]
