---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org//dois/10.5061/dryad.j86rt6b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"4ceac5ca580e5d8fce59516033accd03"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5061/dryad.j86rt6b","type":"dois","attributes":{"doi":"10.5061/dryad.j86rt6b","prefix":"10.5061","suffix":"dryad.j86rt6b","identifiers":[{"identifier":"https://handle.test.datacite.org/10.5061/dryad.j86rt6b","identifierType":"DOI"},{"identifier":"Smith
        CS, Ito M, Namba M, Nakaoka M (2018) Oyster aquaculture impacts Zostera marina
        epibiont community composition in Akkeshi-ko estuary, Japan. PLOS ONE 13(5):
        e0197753.","identifierType":"citation"}],"creators":[{"name":"Smith, Carter
        S.","nameType":"Personal","givenName":"Carter S.","familyName":"Smith"},{"name":"Ito,
        Minako","nameType":"Personal","givenName":"Minako","familyName":"Ito"},{"name":"Namba,
        Mizuho","nameType":"Personal","givenName":"Mizuho","familyName":"Namba"},{"name":"Nakaoka,
        Masahiro","nameType":"Personal","givenName":"Masahiro","familyName":"Nakaoka"}],"titles":[{"title":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan"}],"publisher":"Dryad Digital Repository","container":{},"publicationYear":2018,"subjects":[{"subject":"Oyster
        aquaculture"},{"subject":"Seagrass"},{"subject":"Japan"},{"subject":"Zostera
        marina"},{"subject":"Crassostrea gigas"}],"contributors":[],"dates":[{"date":"2018","dateType":"Issued"}],"language":null,"types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"DataPackage","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/1","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/2","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/3","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/4","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/5","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/6","relatedIdentifierType":"DOI"},{"relationType":"IsReferencedBy","relatedIdentifier":"10.1371/journal.pone.0197753","relatedIdentifierType":"DOI"},{"relationType":"IsSupplementTo","relatedIdentifier":"10.1371/journal.pone.0197753","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[{"rightsUri":"http://creativecommons.org/publicdomain/zero/1.0"}],"descriptions":[],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeG1sbnM6bWV0cz0iaHR0cDovL3d3dy5sb2MuZ292L01FVFMvIiB4bWxuczpkc3BhY2U9Imh0dHA6Ly93d3cuZHNwYWNlLm9yZy94bWxucy9kc3BhY2UvZGltIiB4bWxuczpkaW09Imh0dHA6Ly93d3cuZHNwYWNlLm9yZy94bWxucy9kc3BhY2UvZGltIiB4bWxuczpkcnlhZD0iaHR0cDovL3B1cmwub3JnL2RyeWFkL3Rlcm1zLyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3N[...]
- request:
    method: get
    uri: https://doi.org/ra/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5061",
            "RA": "DataCite"
          }
        ]
  recorded_at: Thu, 14 Mar 2019 12:53:33 GMT
[...]
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","attributes":{"messageAction":"create","subjId":"https://doi.org/10.5061/dryad.j86rt6b","objId":"https://doi.org/10.5061/dryad.j86rt6b/1","relationTypeId":"has-part","sourceId":"datacite-related","sourceToken":null,"occurredAt":"2019-02-03T08:31:45.000Z","timestamp":"2019-03-14T12:53:33Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.5061/dryad.j86rt6b","@type":"Dataset","name":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan","author":[{"name":"Carter S. Smith","givenName":"Carter
        S.","familyName":"Smith","@type":"Person"},{"name":"Minako Ito","givenName":"Minako","familyName":"Ito","@type":"Person"},{"name":"Mizuho
        Namba","givenName":"Mizuho","familyName":"Namba","@type":"Person"},{"name":"Masahiro
        Nakaoka","givenName":"Masahiro","familyName":"Nakaoka","@type":"Person"}],"publisher":{"@type":"Organization","name":"Dryad
        Digital Repository"},"datePublished":"2018","dateModified":"2019-02-03T08:31:45.000Z","proxyIdentifiers":["10.1371/journal.pone.0197753"],"registrantId":"datacite.dryad.dryad"},"obj":{}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Thu, 14 Mar 2019 12:53:34 GMT
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"message_action":"create","subj_id":"https://doi.org/10.5061/dryad.j86rt6b","obj_id":"https://doi.org/10.5061/dryad.j86rt6b/1","relation_type_id":"has_part","source_id":"datacite_related","source_token":null,"occurred_at":"2019-02-03T08:31:45.000Z","timestamp":"2019-03-14T12:53:33Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.5061/dryad.j86rt6b","@type":"Dataset","name":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan","author":[{"name":"Carter S. Smith","givenName":"Carter
        S.","familyName":"Smith","@type":"Person"},{"name":"Minako Ito","givenName":"Minako","familyName":"Ito","@type":"Person"},{"name":"Mizuho
        Namba","givenName":"Mizuho","familyName":"Namba","@type":"Person"},{"name":"Masahiro
        Nakaoka","givenName":"Masahiro","familyName":"Nakaoka","@type":"Person"}],"publisher":{"@type":"Organization","name":"Dryad
        Digital Repository"},"datePublished":"2018","dateModified":"2019-02-03T08:31:45.000Z","proxyIdentifiers":["10.1371/journal.pone.0197753"],"registrantId":"datacite.dryad.dryad"},"obj":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Malformed","schema-errors":[{"level":"error","schema":{"loadingURI":"#","pointer":""},"instance":{"pointer":""},"domain":"validation","keyword":"required","message":"object
        has missing required properties ([\"id\"])","required":["id","obj_id","occurred_at","relation_type_id","source_id","subj_id"],"missing":["id"]}]}'
  recorded_at: Thu, 14 Mar 2019 12:53:37 GMT
[...]
