---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5061/dryad.j86rt6b?affiliation=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"862753415d129aa8687fff14613a7b2b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5061/dryad.j86rt6b","type":"dois","attributes":{"doi":"10.5061/dryad.j86rt6b","prefix":"10.5061","suffix":"dryad.j86rt6b","identifiers":[{"identifier":"https://handle.test.datacite.org/10.5061/dryad.j86rt6b","identifierType":"DOI"},{"identifier":"Smith
        CS, Ito M, Namba M, Nakaoka M (2018) Oyster aquaculture impacts Zostera marina
        epibiont community composition in Akkeshi-ko estuary, Japan. PLOS ONE 13(5):
        e0197753.","identifierType":"citation"}],"creators":[{"name":"Smith, Carter
        S.","nameType":"Personal","givenName":"Carter S.","familyName":"Smith","affiliation":[]},{"name":"Ito,
        Minako","nameType":"Personal","givenName":"Minako","familyName":"Ito","affiliation":[]},{"name":"Namba,
        Mizuho","nameType":"Personal","givenName":"Mizuho","familyName":"Namba","affiliation":[]},{"name":"Nakaoka,
        Masahiro","nameType":"Personal","givenName":"Masahiro","familyName":"Nakaoka","affiliation":[]}],"titles":[{"title":"Data
        from: Oyster aquaculture impacts Zostera marina epibiont community composition
        in Akkeshi-ko estuary, Japan"}],"publisher":"Dryad Digital Repository","container":{},"publicationYear":2018,"subjects":[{"subject":"Oyster
        aquaculture"},{"subject":"Seagrass"},{"subject":"Japan"},{"subject":"Zostera
        marina"},{"subject":"Crassostrea gigas"}],"contributors":[],"dates":[{"date":"2018","dateType":"Issued"}],"language":null,"types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"DataPackage","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/1","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/2","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/3","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/4","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/5","relatedIdentifierType":"DOI"},{"relationType":"HasPart","relatedIdentifier":"10.5061/dryad.j86rt6b/6","relatedIdentifierType":"DOI"},{"relationType":"IsReferencedBy","relatedIdentifier":"10.1371/journal.pone.0197753","relatedIdentifierType":"DOI"},{"relationType":"IsSupplementTo","relatedIdentifier":"10.1371/journal.pone.0197753","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[{"rightsUri":"http://creativecommons.org/publicdomain/zero/1.0"}],"descriptions":[],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeG1sbnM6bWV0cz0iaHR0cDovL3d3dy5sb2MuZ292L01FVFMvIiB4bWxuczpkc3BhY2U9Imh0dHA6Ly93d3cuZHNwYWNlLm9yZy94bWxucy9kc3BhY2UvZGltIiB4bWxuczpkaW09Imh0dHA6Ly93d3cuZHNwYWNlLm9yZy94bWxucy9kc3BhY2UvZGltIiB4bWxuczpkcnlhZD0iaHR0cDovL3B1cmwub3JnL2RyeWFkL3Rlcm1zLyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3N[...]
- request:
    method: get
    uri: https://doi.org/ra/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5061",
            "RA": "DataCite"
          }
        ]
  recorded_at: Mon, 30 Sep 2019 10:05:17 GMT
[...]
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","id":"9738fa99-32a3-4923-a1c7-7e37bdcea961","attributes":{"messageAction":"create","subjId":"https://doi.org/10.5061/dryad.j86rt6b","objId":"https://doi.org/10.5061/dryad.j86rt6b/1","relationTypeId":"has-part","sourceId":"datacite-related","sourceToken":"29a9a478-518f-4cbd-a133-a0dcef63d547","occurredAt":"2019-09-29T22:01:09.000Z","timestamp":"2019-09-30T10:05:17Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.5061/dryad.j86rt6b","@type":"Dataset","datePublished":"2018","proxyIdentifiers":["10.1371/journal.pone.0197753"],"registrantId":"datacite.dryad.dryad"},"obj":{}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDEtNTQ4OS0zNTk0IiwibmFtZSI6Ikpvc2lhaCBDYXJiZXJyeSIsInJvbGVfaWQiOiJzdGFmZl9hZG1pbiIsImlhdCI6MTU1MzI0OTg4NCwiZXhwIjozMjU2MzI2NTMyNjUzMjU2NTMyNjU3NjIzNTIzNTYyMzU2MjM2NTcyMzY3MzA5NDg1NTA3fQ.dyKeuTqDdqfn0I8KEPAH4N-UD2Y13YtNYXXfgHXorfPZhVLPoHAGs87GDCjtsk2r4VUNDHvNEwGjURYGKvcaCQwz4ukS5vIqCIRio2ZpeptsOuOB_D0n4lvANyWDUbgNGgJt_ddxRo0Th7Wm6oug8lv63E98zFJJLn6Yfd7PKjnKyUXmywNW_RMYdhy-NcvVnCpFxyedx9TbMCPiQU-HYtSerSVIxuW_bqDHj9DvxwiP6lvK64BRyQIU0l3ykPzMIZ7pKYS3KwAIPpCMAtBw99ysRIB-TCV6MP4cMRP7J50mluaDDGy0OBSATPiTbg_uN3MZ2wK26te9PzF6Zjmn4g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - 0000-0001-5489-3594
      Etag:
      - W/"6fca6a5938c510cc5aef68a11fcc1dc5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"9738fa99-32a3-4923-a1c7-7e37bdcea961","type":"events","attributes":{"subjId":"https://doi.org/10.5061/dryad.j86rt6b","objId":"https://doi.org/10.5061/dryad.j86rt6b/1","sourceId":"datacite-related","relationTypeId":"has-part","total":1,"messageAction":"create","sourceToken":"29a9a478-518f-4cbd-a133-a0dcef63d547","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2019-09-29T22:01:09.000Z","timestamp":"2019-09-30T10:05:22.844Z"}}}'
  recorded_at: Mon, 30 Sep 2019 10:05:23 GMT
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"message_action":"create","id":"9738fa99-32a3-4923-a1c7-7e37bdcea961","subj_id":"https://doi.org/10.5061/dryad.j86rt6b","obj_id":"https://doi.org/10.5061/dryad.j86rt6b/1","relation_type_id":"has_part","source_id":"datacite","source_token":"29a9a478-518f-4cbd-a133-a0dcef63d547","occurred_at":"2019-09-29T22:01:09.000Z","timestamp":"2019-09-30T10:05:17Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"pid":"https://doi.org/10.5061/dryad.j86rt6b","work_type_id":"Dataset"},"obj":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 30 Sep 2019 10:05:24 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"message_action":"create","id":"bf48e965-2e4f-4f7c-9a0a-323f20d9ee8d","subj_id":"https://doi.org/10.5061/dryad.j86rt6b","obj_id":"https://doi.org/10.1371/journal.pone.0197753","relation_type_id":"is_supplement_to","source_id":"datacite","source_token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred_at":"2019-09-29T22:01:09.000Z","timestamp":"2019-09-30T10:05:19Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"pid":"https://doi.org/10.5061/dryad.j86rt6b","work_type_id":"Dataset"},"obj":{"pid":"https://doi.org/10.1371/journal.pone.0197753","work_type_id":"ScholarlyArticle"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 30 Sep 2019 10:05:55 GMT
recorded_with: VCR 3.0.3
