---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=reference-visibility:open,has-references:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":8122,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Thu, 03 Jun 2021 11:26:23 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=reference-visibility:open,has-references:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJwzICVyO8CPwpodHRwOi8vZHguZG9pLm9yZy8xMC4yMTM0L2NzYTIwMTguNjMuMDEyNA==","total-results":8122,"items":[{"indexed":{"date-parts":[[2020,1,2]],"date-time":"2020-01-02T06:23:13Z","timestamp":1577946193418},"reference-count":7,"publisher":"Elsevier
        BV","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,3,1]],"date-time":"2018-03-01T00:00:00Z","timestamp":1519862400000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","start":{"date-parts":[[2017,12,27]],"date-time":"2017-12-27T00:00:00Z","timestamp":1514332800000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":["ens-journal.com","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["eNeurologicalSci"],"published-print":{"date-parts":[[2018,3]]},"DOI":"10.1016\/j.ensci.2017.12.005","type":"journal-article","created":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T08:35:34Z","timestamp":1515054934000},"page":"45-47","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Early
        treatment for IgG4-related disease may prevent cognitive impairment caused
        by cerebral vasculitis: A case report and review of the literature"],"prefix":"10.1016","volume":"10","author":[{"given":"Toshihiko","family":"Usami","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-9358-7503","authenticated-orcid":false,"given":"Shoji","family":"Kawashima","sequence":"additional","affiliation":[]},{"given":"Yoshino","family":"Ueki","sequence":"additional","affiliation":[]},{"given":"Takanari","family":"Toyoda","sequence":"additional","affiliation":[]},{"given":"Kenji","family":"Okita","sequence":"additional","affiliation":[]},{"given":"Noriyuki","family":"Matsukawa","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.ensci.2017.12.005_bb0005","doi-asserted-by":"crossref","first-page":"539","DOI":"10.1056\/NEJMra1104650","article-title":"IgG4-related
        disease","volume":"366","author":"Stone","year":"2012","journal-title":"N.
        Engl. J. Med."},{"key":"10.1016\/j.ensci.2017.12.005_bb0010","doi-asserted-by":"crossref","first-page":"1","DOI":"10.1007\/s11940-017-0450-9","article-title":"Neurological
        manifestations of IgG4-related disease","volume":"19","author":"Baptista","year":"2017","journal-title":"Curr.
        Treat. Options Neurol."},{"key":"10.1016\/j.ensci.2017.12.005_bb0015","doi-asserted-by":"crossref","first-page":"1","DOI":"10.1007\/s11910-015-0572-y","article-title":"The
        inflammat[...]
