---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/clients/BL.IMPERIAL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b259bc738c3c47361091c5de9134e642"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bl.imperial","type":"clients","attributes":{"name":"Imperial
        College London","symbol":"BL.IMPERIAL","year":2013,"contact-name":"Andrew
        Mclean","contact-email":"andrew.mclean@imperial.ac.uk","domains":"imperial.ac.uk","url":null,"is-active":true,"has-password":true,"created":"2013-08-19T12:58:20Z","updated":"2018-02-24T01:30:27Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"data":{"id":"bl","type":"providers"}},"repository":{"data":null}}},"included":[{"id":"bl","type":"providers","attributes":{"name":"The
        British Library","symbol":"BL","year":2010,"contact-name":"Rachael Kotarski","contact-email":"datasets@bl.uk","logo-url":"https://assets.datacite.org/images/members/bl.png","is-active":true,"has-password":true,"created":"2010-01-01T00:00:00.000Z","updated":"2018-02-24T01:25:39.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}],"meta":{"dois":[]}}'
  recorded_at: Sat, 24 Feb 2018 22:17:16 GMT
recorded_with: VCR 3.0.3
