---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":3313,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 01 Aug 2020 13:34:25 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ7q8CVx+8CPwlodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2Fkb20uMjAxNzAxMjQ0","total-results":3313,"items":[{"indexed":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T14:23:18Z","timestamp":1577888598015},"reference-count":36,"publisher":"Springer
        Science and Business Media LLC","issue":"1","funder":[{"DOI":"10.13039\/501100000147","name":"Canadian
        Cancer Society","doi-asserted-by":"publisher","award":["130,000 CAD"]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["BMC
        Cancer"],"published-print":{"date-parts":[[2018,12]]},"DOI":"10.1186\/s12885-017-3939-4","type":"journal-article","created":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T12:23:55Z","timestamp":1515068635000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":11,"title":["The
        exploration of contrasting pathways in Triple Negative Breast Cancer (TNBC)"],"prefix":"10.1186","volume":"18","author":[{"given":"Shavira","family":"Narrandes","sequence":"first","affiliation":[]},{"given":"Shujun","family":"Huang","sequence":"additional","affiliation":[]},{"given":"Leigh","family":"Murphy","sequence":"additional","affiliation":[]},{"given":"Wayne","family":"Xu","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2018,1,4]]},"reference":[{"issue":"1","key":"3939_CR1","doi-asserted-by":"crossref","first-page":"31","DOI":"10.3322\/caac.21320","volume":"66","author":"CE
        DeSantis","year":"2016","unstructured":"DeSantis CE, Fedewa SA, Goding Sauer
        A, Kramer JL, Smith RA, Jemal A. Breast cancer statistics, 2015: convergence
        of incidence rates between black and white women. CA Cancer J Clin. 2016;66(1):31\u201342.","journal-title":"CA
        Cancer J Clin"},{"issue":"5","key":"3939_CR2","doi-asserted-by":"crossref","first-page":"e1000279","DOI":"10.1371\/journal.pmed.1000279","volume":"7","author":"FM
        Blows","year":"2010","unstructured":"Blows FM, Driver KE, Schmidt MK, Broeks
        A, Van Leeuwen FE, Wesseling J, et al. Subtyping of breast cancer by immunohistochemistry
        to investigate a relationship between subtype and short and long term survival:
        a collaborative analysis of data for 10,159 ca[...]
