---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":3352,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Thu, 03 Jun 2021 08:54:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJw4PWgiPACPwRodHRwOi8vZHguZG9pLm9yZy8xMC4xMDYzLzEuNTAxMDkzMg==","total-results":3352,"items":[{"indexed":{"date-parts":[[2020,1,3]],"date-time":"2020-01-03T02:03:20Z","timestamp":1578017000369},"reference-count":58,"publisher":"Elsevier
        BV","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,3,1]],"date-time":"2018-03-01T00:00:00Z","timestamp":1519862400000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["21171173"]},{"DOI":"10.13039\/501100003091","name":"Government
        of Shandong Province","doi-asserted-by":"publisher","award":["2015GSF116009"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Inorganica
        Chimica Acta"],"published-print":{"date-parts":[[2018,3]]},"DOI":"10.1016\/j.ica.2017.12.037","type":"journal-article","created":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T02:56:05Z","timestamp":1515034565000},"page":"169-179","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":3,"title":["An
        investigation on the structural diversification of metal phosphonates in varying
        combinations of phosphonate ligand, metal ions and auxiliary ligands"],"prefix":"10.1016","volume":"473","author":[{"given":"Xiaomin","family":"Hou","sequence":"first","affiliation":[]},{"given":"Si-Fu","family":"Tang","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.ica.2017.12.037_h0005","author":"Maxim","volume":"53","first-page":"2708","year":"2014","journal-title":"Inorg.
        Chem.","DOI":"10.1021\/ic403104y","doi-asserted-by":"crossref"},{"key":"10.1016\/j.ica.2017.12.037_h0010","author":"Colodrero","volume":"24","first-page":"3780","year":"2012","journal-title":"Chem.
        Mater.","DOI":"10.1021\/cm302381k","doi-asserted-by":"crossref"},{"key":"10.1016\/j.ica.2017.12.037_h0015","author":"Tang","volume":"17","first-page":"7723","year":"2015","journal-title":"CrystEngComm","DOI":"10.1039\/C5CE01366F","doi-asserted-by":"crossref"},{"key":"10.1016\/j[...]
