---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,funderIdentifier,minted,updated&fq=updated:%5B2018-01-04T00:00:00Z%20TO%202018-01-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:URL%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":37,"start":0,"docs":[]}}

'
  recorded_at: Sun, 19 Aug 2018 09:15:08 GMT
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,funderIdentifier,minted,updated&fq=updated:%5B2018-01-04T00:00:00Z%20TO%202018-01-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:URL%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":37,"start":0,"docs":[{"minted":"2018-01-09T10:51:45Z","updated":"2018-01-09T10:51:45Z","doi":"10.21953/LSE.5DOTT157SD1Z","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-FIN.html"],"resourceTypeGeneral":"Text"},{"minted":"2018-01-09T11:30:29Z","updated":"2018-01-09T11:30:29Z","doi":"10.21953/LSE.X2HBLWEVDAJB","relatedIdentifier":["HasPart:DOI:https://doi.org/10.1177/0018720816644872","HasPart:DOI:https://doi.org/10.1080/13669877.2014.1003319","HasPart:DOI:https://doi.org/10.1007/s10551-017-3463-0","IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-PS.html"],"resourceTypeGeneral":"Text"},{"minted":"2018-01-09T11:51:59Z","updated":"2018-01-09T11:51:59Z","doi":"10.21953/LSE.80KWWMT5MD4H","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-SO.html"],"resourceTypeGeneral":"Text"},{"minted":"2018-01-10T12:26:02Z","updated":"2018-01-10T12:26:02Z","doi":"10.21953/LSE.A3AL3LGWKUDO","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-SO.html"],"resourceTypeGeneral":"Text"},{"minted":"2018-01-10T12:47:33Z","updated":"2018-01-10T12:47:33Z","doi":"10.21953/LSE.6PV8EY9VXC10","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-GI.html"],"funderIdentifier":["Crossref
        Funder ID:http://dx.doi.org/10.13039/100011326"],"resourceTypeGeneral":"Text"},{"minted":"2018-01-11T11:49:31Z","updated":"2018-01-11T11:49:31Z","doi":"10.21953/LSE.7D0YD759C10Z","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-GI.html"],"resourceTypeGeneral":"Text"},{"minted":"2018-01-11T12:28:52Z","updated":"2018-01-11T12:31:39Z","doi":"10.21953/LSE.ZLYPOT3Z09BR","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-EC.html"],"res[...]
