---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5438/4k3m-nyvgx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"a3a9d3f644a5b74fc1098538e0372984"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438/4k3m-nyvgx","type":"dois","attributes":{"doi":"10.5438/4k3m-nyvgx","prefix":"10.5438","suffix":"4k3m-nyvgx","identifiers":[{"identifier":"https://handle.test.datacite.org/10.5438/4k3m-nyvgx","identifierType":"DOI"},{"identifierType":""}],"creators":[{"name":"Fenner,
        Martin","nameType":"Personal","givenName":"Martin","familyName":"Fenner","nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0003-1419-2405","nameIdentifierScheme":"ORCID"}]}],"titles":[{"title":"Eating
        your own Dog Food"}],"publisher":"DataCite","container":{"type":"Series","identifier":"10.5438/0000-00ss","identifierType":"DOI"},"publicationYear":2016,"subjects":[{"subject":"datacite"},{"subject":"doi"},{"subject":"metadata"},{"subject":"featured"}],"contributors":[],"dates":[{"date":"2016-12-20","dateType":"Created"},{"date":"2016-12-20","dateType":"Issued"},{"date":"2016-12-20","dateType":"Updated"}],"language":null,"types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"BlogPosting","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"IsPartOf","relatedIdentifier":"10.5438/0000-00ss","relatedIdentifierType":"DOI"},{"relationType":"References","relatedIdentifier":"10.5438/0012","relatedIdentifierType":"DOI"},{"relationType":"References","relatedIdentifier":"10.5438/55e5-t5c0","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[{"rights":"https://creativecommons.org/licenses/by/4.0/","rightsUri":"https://creativecommons.org/licenses/by/4.0"}],"descriptions":[{"description":"Eating
        your own dog food is a slang term to describe that an organization should
        itself use the products and services it provides. For DataCite this means
        that we should use DOIs with appropriate metadata and strategies for long-term
        preservation for...","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC80SzNNLU5ZVkdYPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck5hbWU+RmV[...]
- request:
    method: get
    uri: https://api.test.datacite.org/prefixes/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"2368c2dcc375f34ca947cca67ca508f6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438","type":"prefixes","attributes":{"registrationAgency":"DataCite","created":"2011-03-30T08:56:21.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"datacite.datacite","type":"clients"}]},"providers":{"data":[{"id":"datacite","type":"providers"}]}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contactName":"Martin
        Fenner","contactEmail":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-12-10T23:46:06.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"},{"id":"10.70002","type":"prefixes"}]}}},{"id":"datacite","type":"providers","attributes":{"name":"DataCite","symbol":"DATACITE","website":null,"contactName":"DataCite
        Support","contactEmail":"support@datacite.org","phone":null,"description":null,"region":"EMEA","country":"DE","logoUrl":null,"organizationType":null,"focusArea":null,"isActive":true,"hasPassword":true,"joined":null,"created":"2011-12-07T13:41:07.000Z","updated":"2018-11-16T15:31:02.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.0138","type":"prefixes"},{"id":"10.15497","type":"prefixes"},{"id":"10.0158","type":"prefixes"},{"id":"10.0159","type":"prefixes"},{"id":"10.18130","type":"prefixes"},{"id":"10.23725","type":"prefixes"},{"id":"10.24367","type":"prefixes"},{"id":"10.24366","type":"pre[...]
[...]
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","attributes":{"messageAction":"create","subjId":"https://doi.org/10.5438/4k3m-nyvgx","objId":"http://orcid.org/0000-0003-1419-2405","relationTypeId":"is-authored-by","sourceId":"datacite-orcid-auto-update","sourceToken":"7b09eda9-0024-4e26-9f01-6d8d5a1028d7","occurredAt":"2018-10-07T05:42:36.000Z","timestamp":"2018-12-11T22:06:43Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"id":"https://doi.org/10.5438/4k3m-nyvgx","type":"ScholarlyArticle","name":"Eating
        your own Dog Food","author":[{"@id":"https://orcid.org/0000-0003-1419-2405","name":"Fenner,
        Martin","@type":"Person","givenName":"Martin","familyName":"Fenner"}],"publisher":{"@type":"Organization","name":"DataCite"},"periodical":{"@id":"https://doi.org/10.5438/0000-00ss","@type":"Periodical"},"version":"1.0","datePublished":"2016-12-20","dateModified":"2018-08-01T22:04:58.000Z","proxyIdentifiers":["10.5438/0000-00ss"],"registrantId":"datacite.demo.datacite"},"obj":{"id":"http://orcid.org/0000-0003-1419-2405","type":"Person","givenName":"Martin","familyName":"Fenner","name":"Martin
        Fenner"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDItODU5OS0wNzczIiwibmFtZSI6IlJpY2hhcmQgSGFsbGV0dCIsImVtYWlsIjoicmhhbGxldHRAZGF0YWNpdGUub3JnIiwicm9sZV9pZCI6InN0YWZmX2FkbWluIiwiYmV0YV90ZXN0ZXIiOmZhbHNlLCJmZWF0dXJlcyI6eyJkZWxldGUtZG9pIjpmYWxzZX0sImlhdCI6MTUzMzkwMjM0NiwiZXhwIjoyMTY1MDU0MzQ2fQ.eEMiYeYHPP7EXVF2DCWhBXX0hwDfwL4zvNifpLPLyF0jsITVPIPGTRzbe1ql1XIxcw4QjBb4DOWfnZ1IkR-lTCMxWcnfBEzL67e1E9B0RE2GeXkcYUOMu7XJ4pCQf1hAHcb_b4OjCz0Z-qRDRA9U6z1pWDjRPLAchZJlLsIGXbuqqCeBusIz5Uv4DsyjCTtc3ldQwpD76mHhvq3AmO4bKB4Ttv8ak-oAllZMUm3sqJLxh5KrsCpHWDs0i9olK6qxHnlsrnsxTFS_Xn2T_0egRB9Ilxe_qBwsHeguZNqcd_Ls-JkVmc4nNJL0ZkhvwojR66t5rKkNMH0H-HJCpntFKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - 0000-0002-8599-0773
      Etag:
      - W/"e0d53f7b0c4abab3ad9af2c256b7d64b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"c4393004-0686-464c-8ec8-e76254ba2e77","type":"events","attributes":{"subjId":"https://doi.org/10.5438/4k3m-nyvgx","objId":"http://orcid.org/0000-0003-1419-2405","sourceId":"datacite-orcid-auto-update","relationTypeId":"is-authored-by","total":1,"messageAction":"create","sourceToken":"7b09eda9-0024-4e26-9f01-6d8d5a1028d7","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-10-07T05:42:36.000Z","timestamp":"2018-12-11T21:41:38.183Z","subj":{"id":"https://doi.org/10.5438/4k3m-nyvgx","type":"ScholarlyArticle","name":"Eating
        your own Dog Food","author":[{"@id":"https://orcid.org/0000-0003-1419-2405","name":"Fenner,
        Martin","@type":"Person","given_name":"Martin","family_name":"Fenner"}],"publisher":{"@type":"Organization","name":"DataCite"},"periodical":{"@id":"https://doi.org/10.5438/0000-00ss","@type":"Periodical"},"version":"1.0","date_published":"2016-12-20","date_modified":"2018-08-01T22:04:58.000Z","proxy_identifiers":["10.5438/0000-00ss"],"registrant_id":"datacite.demo.datacite"},"obj":{"id":"http://orcid.org/0000-0003-1419-2405","type":"Person","given_name":"Martin","family_name":"Fenner","name":"Martin
        Fenner"}},"relationships":{"subj":{"data":{"id":"https://doi.org/10.5438/4k3m-nyvgx","type":"objects"}},"obj":{"data":{"id":"http://orcid.org/0000-0003-1419-2405","type":"objects"}}}}}'
  recorded_at: Tue, 11 Dec 2018 22:06:44 GMT
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"doi":"10.5438/4k3m-nyvgx","orcid":"0000-0003-1419-2405","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDItODU5OS0wNzczIiwibmFtZSI6IlJpY2hhcmQgSGFsbGV0dCIsImVtYWlsIjoicmhhbGxldHRAZGF0YWNpdGUub3JnIiwicm9sZV9pZCI6InN0YWZmX2FkbWluIiwiYmV0YV90ZXN0ZXIiOmZhbHNlLCJmZWF0dXJlcyI6eyJkZWxldGUtZG9pIjpmYWxzZX0sImlhdCI6MTUzMzkwMjM0NiwiZXhwIjoyMTY1MDU0MzQ2fQ.eEMiYeYHPP7EXVF2DCWhBXX0hwDfwL4zvNifpLPLyF0jsITVPIPGTRzbe1ql1XIxcw4QjBb4DOWfnZ1IkR-lTCMxWcnfBEzL67e1E9B0RE2GeXkcYUOMu7XJ4pCQf1hAHcb_b4OjCz0Z-qRDRA9U6z1pWDjRPLAchZJlLsIGXbuqqCeBusIz5Uv4DsyjCTtc3ldQwpD76mHhvq3AmO4bKB4Ttv8ak-oAllZMUm3sqJLxh5KrsCpHWDs0i9olK6qxHnlsrnsxTFS_Xn2T_0egRB9Ilxe_qBwsHeguZNqcd_Ls-JkVmc4nNJL0ZkhvwojR66t5rKkNMH0H-HJCpntFKA
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Credential-Username:
      - 0000-0002-8599-0773
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"a41c6181-9e4c-434f-a182-8bf573352e63","type":"claims","attributes":{"orcid":"0000-0003-1419-2405","doi":"10.5438/4k3m-nyvgx","source-id":"orcid_update","state":"waiting","claim-action":"create","error-messages":[{"title":"Missing
        data"}],"put-code":null,"claimed":null,"created":"2018-10-25T20:52:56Z","updated":"2018-12-11T22:06:44Z"}}}'
  recorded_at: Tue, 11 Dec 2018 22:06:44 GMT
recorded_with: VCR 3.0.3
