---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5438/4k3m-nyvgx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8f91e64c1e83682541ef14eb1c74ba0a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438/4k3m-nyvgx","type":"dois","attributes":{"doi":"10.5438/4k3m-nyvgx","identifier":"https://handle.test.datacite.org/10.5438/4k3m-nyvgx","url":null,"prefix":"10.5438","suffix":"4k3m-nyvgx","author":[{"type":"Person","id":"https://orcid.org/0000-0003-1419-2405","name":"Fenner,
        Martin","givenName":"Martin","familyName":"Fenner"}],"title":"Eating your
        own Dog Food","publisher":"DataCite","resource-type-subtype":"BlogPosting","description":"Eating
        your own dog food is a slang term to describe that an organization should
        itself use the products and services it provides. For DataCite this means
        that we should use DOIs with appropriate metadata and strategies for long-term
        preservation for...","version":"1.0","metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","reason":null,"source":"mds","state":"findable","is-active":true,"landing-page":{"status":null,"content-type":null,"checked":null,"result":null},"published":"2016-12-20","created":"2018-08-01T21:04:36.000Z","registered":null,"updated":"2018-08-01T22:04:58.000Z","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC80SzNNLU5ZVkdYPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck5hbWU+RmV[...]
- request:
    method: get
    uri: https://api.test.datacite.org/prefixes/10.5438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"2ee122c3107fa399fd9ccba1087a5b90"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2011-03-30T08:56:21.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"datacite.datacite","type":"clients"}]},"providers":{"data":[{"id":"datacite","type":"providers"}]}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contact-name":"Martin
        Fenner","contact-email":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-08-26T01:30:27.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"}]}}},{"id":"datacite","type":"providers","attributes":{"name":"DataCite","symbol":"DATACITE","website":null,"contact-name":"DataCite
        Support","contact-email":"support@datacite.org","phone":null,"description":null,"region":"EMEA","country":"DE","logo-url":null,"organization-type":null,"focus-area":null,"is-active":true,"has-password":true,"joined":null,"created":"2011-12-07T13:41:07.000Z","updated":"2018-10-24T13:15:15.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.0138","type":"prefixes"},{"id":"10.15497","type":"prefixes"},{"id":"10.0158","type":"prefixes"},{"id":"10.0159","type":"prefixes"},{"id":"10.18130","type":"prefixes"},{"id":"10.23725","type":"prefixes"},{"id":"10.24367","type":"prefixes"},{"id":"10.24366","type":"pre[...]
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","attributes":{"message-action":"create","subj-id":"https://doi.org/10.5438/4k3m-nyvgx","obj-id":"https://doi.org/10.5438/0000-00ss","relation-type-id":"is-part-of","source-id":"datacite-related","source-token":"29a9a478-518f-4cbd-a133-a0dcef63d547","occurred-at":"2018-10-07T05:42:36.000Z","timestamp":"2018-10-25T18:35:59Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"id":"https://doi.org/10.5438/4k3m-nyvgx","type":"scholarly-article","name":"Eating
        your own Dog Food","author":[{"given_name":"Martin","family_name":"Fenner"}],"publisher":"DataCite","version":"1.0","date_published":"2016-12-20","date_modified":"2018-08-01T22:04:58.000Z","registrant_id":"datacite.demo.datacite"},"obj":{}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDItODU5OS0wNzczIiwibmFtZSI6IlJpY2hhcmQgSGFsbGV0dCIsImVtYWlsIjoicmhhbGxldHRAZGF0YWNpdGUub3JnIiwicm9sZV9pZCI6InN0YWZmX2FkbWluIiwiYmV0YV90ZXN0ZXIiOmZhbHNlLCJmZWF0dXJlcyI6eyJkZWxldGUtZG9pIjpmYWxzZX0sImlhdCI6MTUzMzkwMjM0NiwiZXhwIjoyMTY1MDU0MzQ2fQ.eEMiYeYHPP7EXVF2DCWhBXX0hwDfwL4zvNifpLPLyF0jsITVPIPGTRzbe1ql1XIxcw4QjBb4DOWfnZ1IkR-lTCMxWcnfBEzL67e1E9B0RE2GeXkcYUOMu7XJ4pCQf1hAHcb_b4OjCz0Z-qRDRA9U6z1pWDjRPLAchZJlLsIGXbuqqCeBusIz5Uv4DsyjCTtc3ldQwpD76mHhvq3AmO4bKB4Ttv8ak-oAllZMUm3sqJLxh5KrsCpHWDs0i9olK6qxHnlsrnsxTFS_Xn2T_0egRB9Ilxe_qBwsHeguZNqcd_Ls-JkVmc4nNJL0ZkhvwojR66t5rKkNMH0H-HJCpntFKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"090bfe667b7d795df2a3dcc3e06737d3"
      X-Credential-Username:
      - 0000-0002-8599-0773
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"6010daf2-28d4-43a5-be7b-a72ac36e5ebb","type":"events","attributes":{"subj-id":"https://doi.org/10.5438/4k3m-nyvgx","obj-id":"https://doi.org/10.5438/0000-00ss","source-id":"datacite-related","relation-type-id":"is-part-of","total":1,"message-action":"create","source-token":"29a9a478-518f-4cbd-a133-a0dcef63d547","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-10-07T05:42:36.000Z","timestamp":"2018-10-25T16:21:33.935Z"},"relationships":{"subj":{"data":{"id":"https://doi.org/10.5438/4k3m-nyvgx","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.5438/0000-00ss","type":"objects"}}}}}'
  recorded_at: Thu, 25 Oct 2018 18:36:00 GMT
[...]
