---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.17863/cam.12119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7f68ec37fbb2659fbc104902b54cce41"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.17863/cam.12119","type":"dois","attributes":{"doi":"10.17863/cam.12119","prefix":"10.17863","suffix":"cam.12119","identifiers":[{"identifier":"https://handle.test.datacite.org/10.17863/cam.12119","identifierType":"DOI"}],"creators":[{"name":"Liu,
        Yang","nameType":"Personal","givenName":"Yang","familyName":"Liu","nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0001-8865-4647","nameIdentifierScheme":"ORCID"}]}],"titles":[{"title":"The
        Sure-thing Principle and P2"}],"publisher":"Apollo - University of Cambridge
        Repository (staging)","container":{},"publicationYear":2017,"subjects":[],"contributors":[{"name":"Apollo-University
        Of Cambridge Repository (Staging)"},{"name":"Apollo-University Of Cambridge
        Repository (Staging)"}],"dates":[{"date":"2017-07-21","dateType":"Issued"}],"language":null,"types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"Article","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"IsSupplementedBy","relatedIdentifier":"10.1016/j.econlet.2017.07.027","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[{"description":"This
        paper offers a fine analysis of different versions of the well known sure-thing
        principle. We show that Savage''s formal formulation of the principle, i.e.,
        his second postulate (P2), is strictly stronger than what is intended originally.","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6ZHNwYWNlPSJodHRwOi8vd3d3LmRzcGFjZS5vcmcveG1sbnMvZHNwYWNlL2RpbSIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuMTc4NjMvQ0FNLjEyMTE5PC9pZGVudGl[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1016",
            "RA": "Crossref"
          }
        ]
  recorded_at: Fri, 15 Mar 2019 11:36:05 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.econlet.2017.07.027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,2,18]],"date-time":"2019-02-18T08:23:36Z","timestamp":1550478216798},"reference-count":3,"publisher":"Elsevier
        BV","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2017,10,1]],"date-time":"2017-10-01T00:00:00Z","timestamp":1506816000000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Economics
        Letters"],"published-print":{"date-parts":[[2017,10]]},"DOI":"10.1016\/j.econlet.2017.07.027","type":"journal-article","created":{"date-parts":[[2017,7,27]],"date-time":"2017-07-27T20:35:10Z","timestamp":1501187710000},"page":"221-223","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["The
        sure-thing principle and P2"],"prefix":"10.1016","volume":"159","author":[{"given":"Yang","family":"Liu","sequence":"first","affiliation":[]}],"member":"78","container-title":["Economics
        Letters"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0165176517303154?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0165176517303154?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,6,28]],"date-time":"2018-06-28T02:45:17Z","timestamp":1530153917000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2017,10]]},"references-count":3,"alternative-id":["S0165176517303154"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.econlet.2017.07.027","relation":{},"ISSN":["0165-1765"],"issn-type":[{"value":"0165-1765","type":"print"}],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"The sure-thing principle and P2","name":"articletitle","label":"Article
        Title"},{"value":"Economics Letters","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/j.econlet.2017.07.027","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"\u00a9 2017 Elsevier B.V. All rights reserved.","name":"copyright","label":"Copyright"}]}}'
  recorded_at: Fri, 15 Mar 2019 11:36:06 GMT
[...]
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","attributes":{"messageAction":"create","subjId":"https://doi.org/10.17863/cam.12119","objId":"https://doi.org/10.1016/j.econlet.2017.07.027","relationTypeId":"is-supplemented-by","sourceId":"datacite-crossref","sourceToken":"","occurredAt":"2019-01-22T09:58:37.000Z","timestamp":"2019-03-15T11:36:06Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.17863/cam.12119","@type":"ScholarlyArticle","name":"The
        Sure-thing Principle and P2","author":[{"name":"Yang Liu","givenName":"Yang","familyName":"Liu","@type":"Person","@id":"https://orcid.org/0000-0001-8865-4647"}],"publisher":{"@type":"Organization","name":"Apollo
        - University of Cambridge Repository (staging)"},"datePublished":"2017-07-21","dateModified":"2019-01-22T09:58:37.000Z","proxyIdentifiers":[],"registrantId":"datacite.bl.cam"},"obj":{"@id":"https://doi.org/10.1016/j.econlet.2017.07.027","@type":"ScholarlyArticle","name":"The
        sure-thing principle and P2","author":[{"@type":"Person","givenName":"Yang","familyName":"Liu"}],"periodical":{"@type":"Periodical","name":"Economics
        Letters","issn":"0165-1765"},"volumeNumber":"159","pagination":"221-223","publisher":{"@type":"Organization","name":"Elsevier
        BV"},"datePublished":"2017-10","dateModified":"2019-02-18T08:23:36Z","registrantId":"crossref.78"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Fri, 15 Mar 2019 11:36:07 GMT
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"message_action":"create","subj_id":"https://doi.org/10.17863/cam.12119","obj_id":"https://doi.org/10.1016/j.econlet.2017.07.027","relation_type_id":"is_supplemented_by","source_id":"datacite_crossref","source_token":"","occurred_at":"2019-01-22T09:58:37.000Z","timestamp":"2019-03-15T11:36:06Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.17863/cam.12119","@type":"ScholarlyArticle","name":"The
        Sure-thing Principle and P2","author":[{"name":"Yang Liu","givenName":"Yang","familyName":"Liu","@type":"Person","@id":"https://orcid.org/0000-0001-8865-4647"}],"publisher":{"@type":"Organization","name":"Apollo
        - University of Cambridge Repository (staging)"},"datePublished":"2017-07-21","dateModified":"2019-01-22T09:58:37.000Z","proxyIdentifiers":[],"registrantId":"datacite.bl.cam"},"obj":{"@id":"https://doi.org/10.1016/j.econlet.2017.07.027","@type":"ScholarlyArticle","name":"The
        sure-thing principle and P2","author":[{"@type":"Person","givenName":"Yang","familyName":"Liu"}],"periodical":{"@type":"Periodical","name":"Economics
        Letters","issn":"0165-1765"},"volumeNumber":"159","pagination":"221-223","publisher":{"@type":"Organization","name":"Elsevier
        BV"},"datePublished":"2017-10","dateModified":"2019-02-18T08:23:36Z","registrantId":"crossref.78"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Malformed","schema-errors":[{"level":"error","schema":{"loadingURI":"#","pointer":""},"instance":{"pointer":""},"domain":"validation","keyword":"required","message":"object
        has missing required properties ([\"id\"])","required":["id","obj_id","occurred_at","relation_type_id","source_id","subj_id"],"missing":["id"]}]}'
  recorded_at: Fri, 15 Mar 2019 11:36:07 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/0000-0001-8865-4647/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "last-modified-date" : null,
          "name" : {
            "created-date" : {
              "value" : 1460755770538
            },
            "last-modified-date" : {
              "value" : 1460755770538
            },
            "given-names" : {
              "value" : "Yang"
            },
            "family-name" : {
              "value" : "Liu"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "PUBLIC",
            "path" : "0000-0001-8865-4647"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0001-8865-4647/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0001-8865-4647/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0001-8865-4647/email"
          },
          "addresses" : {
            "last-modified-date" : null,
            "address" : [ ],
            "path" : "/0000-0001-8865-4647/address"
          },
          "keywords" : {
            "last-modified-date" : null,
            "keyword" : [ ],
            "path" : "/0000-0001-8865-4647/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : null,
            "external-identifier" : [ ],
            "path" : "/0000-0001-8865-4647/external-identifiers"
          },
          "path" : "/0000-0001-8865-4647/person"
        }
  recorded_at: Fri, 15 Mar 2019 11:36:08 GMT
[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"doi":"10.17863/cam.12119","orcid":"0000-0001-8865-4647","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDItODU5OS0wNzczIiwibmFtZSI6IlJpY2hhcmQgSGFsbGV0dCIsImVtYWlsIjoicmhhbGxldHRAZGF0YWNpdGUub3JnIiwicm9sZV9pZCI6InN0YWZmX2FkbWluIiwiYmV0YV90ZXN0ZXIiOmZhbHNlLCJmZWF0dXJlcyI6eyJkZWxldGUtZG9pIjpmYWxzZX0sImlhdCI6MTUzMzkwMjM0NiwiZXhwIjoyMTY1MDU0MzQ2fQ.eEMiYeYHPP7EXVF2DCWhBXX0hwDfwL4zvNifpLPLyF0jsITVPIPGTRzbe1ql1XIxcw4QjBb4DOWfnZ1IkR-lTCMxWcnfBEzL67e1E9B0RE2GeXkcYUOMu7XJ4pCQf1hAHcb_b4OjCz0Z-qRDRA9U6z1pWDjRPLAchZJlLsIGXbuqqCeBusIz5Uv4DsyjCTtc3ldQwpD76mHhvq3AmO4bKB4Ttv8ak-oAllZMUm3sqJLxh5KrsCpHWDs0i9olK6qxHnlsrnsxTFS_Xn2T_0egRB9Ilxe_qBwsHeguZNqcd_Ls-JkVmc4nNJL0ZkhvwojR66t5rKkNMH0H-HJCpntFKA
  response:
    status:
      code: 503
      message: Service Temporarily Unavailable
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>503 Service Temporarily Unavailable</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>503 Service Temporarily Unavailable</h1></center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 15 Mar 2019 11:36:08 GMT
recorded_with: VCR 3.0.3
