---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org//dois/10.17863/cam.12119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7f68ec37fbb2659fbc104902b54cce41"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.17863/cam.12119","type":"dois","attributes":{"doi":"10.17863/cam.12119","prefix":"10.17863","suffix":"cam.12119","identifiers":[{"identifier":"https://handle.test.datacite.org/10.17863/cam.12119","identifierType":"DOI"}],"creators":[{"name":"Liu,
        Yang","nameType":"Personal","givenName":"Yang","familyName":"Liu","nameIdentifiers":[{"nameIdentifier":"https://orcid.org/0000-0001-8865-4647","nameIdentifierScheme":"ORCID"}]}],"titles":[{"title":"The
        Sure-thing Principle and P2"}],"publisher":"Apollo - University of Cambridge
        Repository (staging)","container":{},"publicationYear":2017,"subjects":[],"contributors":[{"name":"Apollo-University
        Of Cambridge Repository (Staging)"},{"name":"Apollo-University Of Cambridge
        Repository (Staging)"}],"dates":[{"date":"2017-07-21","dateType":"Issued"}],"language":null,"types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"Article","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"IsSupplementedBy","relatedIdentifier":"10.1016/j.econlet.2017.07.027","relatedIdentifierType":"DOI"}],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[{"description":"This
        paper offers a fine analysis of different versions of the well known sure-thing
        principle. We show that Savage''s formal formulation of the principle, i.e.,
        his second postulate (P2), is strictly stronger than what is intended originally.","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6ZHNwYWNlPSJodHRwOi8vd3d3LmRzcGFjZS5vcmcveG1sbnMvZHNwYWNlL2RpbSIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuMTc4NjMvQ0FNLjEyMTE5PC9pZGVudGl[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1016",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 14 Mar 2019 12:53:47 GMT
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"type":"events","attributes":{"messageAction":"create","subjId":"https://doi.org/10.17863/cam.12119","objId":"https://doi.org/10.1016/j.econlet.2017.07.027","relationTypeId":"is-supplemented-by","sourceId":"datacite-crossref","sourceToken":null,"occurredAt":"2019-01-22T09:58:37.000Z","timestamp":"2019-03-14T12:53:47Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.17863/cam.12119","@type":"ScholarlyArticle","name":"The
        Sure-thing Principle and P2","author":[{"name":"Yang Liu","givenName":"Yang","familyName":"Liu","@type":"Person","@id":"https://orcid.org/0000-0001-8865-4647"}],"publisher":{"@type":"Organization","name":"Apollo
        - University of Cambridge Repository (staging)"},"datePublished":"2017-07-21","dateModified":"2019-01-22T09:58:37.000Z","proxyIdentifiers":[],"registrantId":"datacite.bl.cam"},"obj":{"@id":"https://doi.org/10.1016/j.econlet.2017.07.027","@type":"ScholarlyArticle","name":"The
        sure-thing principle and P2","author":[{"@type":"Person","givenName":"Yang","familyName":"Liu"}],"periodical":{"@type":"Periodical","name":"Economics
        Letters","issn":"0165-1765"},"volumeNumber":"159","pagination":"221-223","publisher":{"@type":"Organization","name":"Elsevier
        BV"},"datePublished":"2017-10","dateModified":"2019-02-18T08:23:36Z","registrantId":"crossref.78"}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Thu, 14 Mar 2019 12:53:47 GMT
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"message_action":"create","subj_id":"https://doi.org/10.17863/cam.12119","obj_id":"https://doi.org/10.1016/j.econlet.2017.07.027","relation_type_id":"is_supplemented_by","source_id":"datacite_crossref","source_token":null,"occurred_at":"2019-01-22T09:58:37.000Z","timestamp":"2019-03-14T12:53:47Z","license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":{"@id":"https://doi.org/10.17863/cam.12119","@type":"ScholarlyArticle","name":"The
        Sure-thing Principle and P2","author":[{"name":"Yang Liu","givenName":"Yang","familyName":"Liu","@type":"Person","@id":"https://orcid.org/0000-0001-8865-4647"}],"publisher":{"@type":"Organization","name":"Apollo
        - University of Cambridge Repository (staging)"},"datePublished":"2017-07-21","dateModified":"2019-01-22T09:58:37.000Z","proxyIdentifiers":[],"registrantId":"datacite.bl.cam"},"obj":{"@id":"https://doi.org/10.1016/j.econlet.2017.07.027","@type":"ScholarlyArticle","name":"The
        sure-thing principle and P2","author":[{"@type":"Person","givenName":"Yang","familyName":"Liu"}],"periodical":{"@type":"Periodical","name":"Economics
        Letters","issn":"0165-1765"},"volumeNumber":"159","pagination":"221-223","publisher":{"@type":"Organization","name":"Elsevier
        BV"},"datePublished":"2017-10","dateModified":"2019-02-18T08:23:36Z","registrantId":"crossref.78"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Malformed","schema-errors":[{"level":"error","schema":{"loadingURI":"#","pointer":""},"instance":{"pointer":""},"domain":"validation","keyword":"required","message":"object
        has missing required properties ([\"id\"])","required":["id","obj_id","occurred_at","relation_type_id","source_id","subj_id"],"missing":["id"]}]}'
  recorded_at: Thu, 14 Mar 2019 12:53:47 GMT
[...]
