---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois?affiliation=true&page%5Bnumber%5D=0&page%5Bsize%5D=0&query=creators.affiliation.affiliationIdentifierScheme:ROR%20AND%20updated:%5B2019-07-01T00:00:00Z%20TO%202019-07-01T23:59:59Z%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"bc28169c53c108e502ab9683540bdd65"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.test.datacite.org/dois?affiliation=true&page%5Bnumber%5D=0&page%5Bsize%5D=0&query=creators.affiliation.affiliationIdentifierScheme%3AROR+AND+updated%3A%5B2019-07-01T00%3A00%3A00Z+TO+2019-07-01T23%3A59%3A59Z%5D"}}'
  recorded_at: Sun, 21 Jul 2019 00:04:42 GMT
recorded_with: VCR 3.0.3
