---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/a17e783b-8214-451e-9b0d-077213c2acae
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a17e783b-8214-451e-9b0d-077213c2acae","type":"events","attributes":{"message-action":"create","subj-id":"https://api.test.datacite.org/reports/2018-3-Dash","obj-id":"https://doi.org/10.7291/d1q94r","relation-type-id":"total-dataset-investigations-regular","source-id":"datacite","source-token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred-at":"2128-04-09","timestamp":null,"license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":"","obj":{"id":"https://doi.org/10.7291/d1q94r","type":"dataset","name":"Chemical
        shift-based methods in NMR structure determination","author":[{"given_name":"Santrupti","family_name":"Nerli"},{"given_name":"Andrew
        C.","family_name":"McShan"},{"given_name":"Nikolaos G.","family_name":"Sgourakis"}],"publisher":"UC
        Santa Cruz","version":"1","date_published":"2018","date_modified":"2018-05-16T04:27:32Z","provider_id":"datacite.cdl.ucsc"}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Thu, 20 Sep 2018 10:44:02 GMT
recorded_with: VCR 3.0.3
