---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":916975,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 01 Aug 2020 11:46:07 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ89sqF4+4CPwlodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2VqaWMuMjAxODAwMTc1","total-results":916975,"items":[{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T17:07:32Z","timestamp":1574874452360},"reference-count":12,"publisher":"Elsevier
        BV","issue":"3","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,9,1]],"date-time":"2018-09-01T00:00:00Z","timestamp":1535760000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","start":{"date-parts":[[2018,9,4]],"date-time":"2018-09-04T00:00:00Z","timestamp":1536019200000},"delay-in-days":3,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["61735011","61505138","61635008","61475114"]},{"DOI":"10.13039\/501100010041","name":"Tianjin
        Science and Technology","doi-asserted-by":"publisher","award":["16JCQNJC01800"]},{"DOI":"10.13039\/501100002858","name":"China
        Postdoctoral Science Foundation","doi-asserted-by":"publisher","award":["2016T90205","2015M580199"]},{"name":"National
        Instrumentation Program","award":["2013YQ030915"]},{"name":"National Key Research
        and Development","award":["2016YFC0100500"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Nanotechnology
        and Precision Engineering"],"published-print":{"date-parts":[[2018,9]]},"DOI":"10.1016\/j.npe.2018.07.002","type":"journal-article","created":{"date-parts":[[2018,9,5]],"date-time":"2018-09-05T05:39:35Z","timestamp":1536125975000},"page":"187-190","source":"Crossref","is-referenced-by-count":0,"title":["Two-dimensional
        distributed strain sensing with an Archimedean spiral arrangement in optical
        frequency domain reflectometry"],"prefix":"10.1016","volume":"1","author":[{"given":"Yamei","family":"Guo","sequence":"first","affiliation":[]},{"given":"Zhenyang","family":"Ding","sequence":"additional","affiliation":[]},{"given":"Kun","family":"Liu","sequence":"additional","affiliation":[]},{"given":"Junfeng","family":"Jiang","sequence":"additional","affiliation":[]},{"given":"Chenhuan","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Tiegen","family":"Liu","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Nanotechnology
        and Precision Engineering"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S2589554018300023?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S2589554018300023?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,12,10]],"date-time":"2018-12-10T22:04:33Z","timestamp":1544479473000},"score":1.0,"issued":{"date-parts":[[2018,9]]},"references-count":12,"journal-issue":{"published-print":{"date-parts":[[2018,9]]},"issue":"3"},"alternative-id":["S2589554018300023"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.npe.2018.07.002","ISSN":["2589-5540"],"issn-type":[{"value":"2589-5540","type":"print"}]},{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T22:40:55Z","timestamp":1574894455120},"reference-count":59,"publisher":"American
        Chemical Society (ACS)","funder":[{"DOI":"10.13039\/501100002855","name":"Ministry
        of Science and Technology of the People''s Republic of China","doi-asserted-by":"publisher","award":["2016YFB0600804"]},{"DOI":"10.13039\/501100002338","name":"Ministry
        of Education of the People''s Republic of China",[...]
