---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":922144,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 04 Jun 2021 09:17:52 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ3iffu4+4CPwVodHRwOi8vZHguZG9pLm9yZy8xMC4xMDkzL2N2ci9jdnkxMTU=","total-results":922144,"items":[{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T22:40:55Z","timestamp":1574894455120},"reference-count":59,"publisher":"American
        Chemical Society (ACS)","funder":[{"DOI":"10.13039\/501100002855","name":"Ministry
        of Science and Technology of the People''s Republic of China","doi-asserted-by":"publisher","award":["2016YFB0600804"]},{"DOI":"10.13039\/501100002338","name":"Ministry
        of Education of the People''s Republic of China","doi-asserted-by":"publisher","award":["DUT18LAB22"]},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["51436003","51576031"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Chem. Eng. Data"],"DOI":"10.1021\/acs.jced.8b00433","type":"journal-article","created":{"date-parts":[[2018,10,31]],"date-time":"2018-10-31T17:11:05Z","timestamp":1541005865000},"source":"Crossref","is-referenced-by-count":0,"title":["Density
        Characteristics of the CO2\u2013CH4 Binary System: Experimental Data at 313\u2013353
        K and 3\u201318 MPa and Modeling from the PC-SAFT EoS"],"prefix":"10.1021","author":[{"given":"Shuyang","family":"Liu","sequence":"first","affiliation":[{"name":"Key
        Laboratory of Ocean Energy Utilization and Energy Conservation of Ministry
        of Education, School of Energy and Power Engineering, Dalian University of
        Technology, Dalian 116024, China"}]},{"given":"Changzhong","family":"Zhao","sequence":"additional","affiliation":[{"name":"Key
        Laboratory of Ocean Energy Utilization and Energy Conservation of Ministry
        of Education, School of Energy and Power Engineering, Dalian University of
        Technology, Dalian 116024, China"}]},{"given":"Junchen","family":"Lv","sequence":"additional","affiliation":[{"name":"Key
        Laboratory of Ocean Energy Utilization and Energy Conservation of Ministry
        of Education, School of Energy and Power Engineering, Dalian University of
        Technology, Dalian 116024, China"}]},{"given":"Pengfei","family":"Lv","sequence":"additional","affiliation":[{"name":"Key
        Laboratory of Ocean Energy Utilization and Energy Conservation of Ministry
        of Education, School of Energy and Power Engineering, Dalian University of
        Technology, Dalian 116024, China"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-2280-6737","authenticated-orcid":true,"given":"Yi","family":"Zhang","sequence":"additional","affiliation":[{"name":"Key
        Laboratory of Ocean Energy Utilization and Energy Conservation of Ministry
        of Education, School of Energy and Power Engineering, Dalian University of
        Technology, Dalian 116024, China"}]}],"member":"316","published-online":{"date-parts":[[2018,10,31]]},"reference":[{"key":"ref1\/cit1","DOI":"10.1016\/j.jngse.2014.10.013","doi-asserted-by":"publisher"},{"key":"ref2\/cit2","DOI":"10.1016\/j.egypro.2014.11.618","doi-asserted-by":"publisher"},{"key":"ref3\/cit3","DOI":"10.1016\/0196-8904(92)90062-2","doi-asserted-by":"publisher"},{"key":"ref4\/cit4","DOI":"10.1016\/j.energy.2004.03.075","doi-asserted-by":"publisher"},{"key":"ref5\/cit5","DOI":"10.1007\/s11440-013-0277-9","doi-asserted-by":"publisher"},{"key":"ref6\/cit6","DOI":"10.1016\/S0196-8904(96)00272-5","doi-asserted-by":"publisher"},{"key":"ref7\/cit7","DOI":"10.1038\/nature02135","doi-asserted-by":"publisher"},{"key":"ref8\/cit8","DOI":"10.1016\/j.apenergy.2015.02.040","doi-asserted-by":"publisher"},{"key":"ref9\/cit9","DOI":"10.1016\/j.ijheatmasstransfer.2014.05.034","doi-asserted-by":"publisher"},{"key":"ref10\/cit10","DOI":"10.1016\/j.energy.2013.01.066","doi-asserted-by":"publisher"},{"key":"ref11\/cit11","DOI":"10.1016\/j.fluid.2017.12.033","doi-asserted-by":"publisher"},{"key":"ref12\/cit12","author":"Edenhofer
        O.","year":"2011","volume-title":"IPCC Special Report on Renewable Energy
        Sources and Climate Change Mitigation","DOI":"10.1017\/CBO9781139151153","doi-asserted-by":"crossref"},{"key":"ref13\/cit13","DOI":"10.1016\/0196-8904(92)90064-4","doi-asserted-by":"publisher"},{"key":"ref14\/cit14","DOI":"10.1016\/0196-8904(93)90069-M","doi-asserted-by":"publisher"},{"key":"ref15\/cit15","DOI":"10.1021\/ie1013019","doi-asserted-by":"publisher"},{"key":"ref16\/cit16","DOI":"10.1016\/j.apenergy.2011.03.052","doi-asserted-by":"publisher"},{"key":"ref17\/cit17","DOI":"10.1016\/j.ijggc.2016.12.008","doi-asserted-by":"publisher"},{"key":"ref18\/cit18","DOI":"10.1021\/ef400257a","doi-asserted-by":"publisher"},{"key":"ref19\/cit19","DOI":"10.1016\/j.fluid.2017.02.018","doi-asserted-by":"publisher"},{"key":"ref20\/cit20","DOI":"10.1021\/ie50409a019","doi-asserted-by":"publisher"},{"key":"ref21\/cit21","DOI":"10.1002\/cjce.5450470119","doi-asserted-by":"publisher"},{"key":"ref22\/cit22","DOI":"10.1252\/jcej.4.113","doi-asserted-by":"publisher"},{"key":"ref23\/cit23","author":"Tong
        J.","volume":"5","first-page":"119","year":"1984","journal-title":"J. Eng.
        Thermophys."},{"key":"ref24\/cit24","DOI":"10.1007\/BF00503153","doi-asserted-by":"publisher"},{"key":"ref25\/cit25","DOI":"10.1016\/0378-3812(89)80004-4","doi-asserted-by":"publisher"},{"key":"ref26\/cit26","DOI":"10.1016\/0378-4371(89)90131-3","doi-asserted-by":"publisher"},{"key":"ref27\/cit27","DOI":"10.1016\/0021-9614(89)90117-1","doi-asserted-by":"publisher"},{"key":"ref28\/cit28","DOI":"10.1016\/0021-9614(90)90189-W","doi-asserted-by":"publisher"},{"key":"ref29\/cit29","D[...]
