---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":915613,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 13 Apr 2020 16:28:45 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=has-funder:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ9qPmz1u4CPxRodHRwOi8vZHguZG9pLm9yZy8xMC4xMDE2L2ouZW5nZnJhY21lY2guMjAxOC4wNy4wMzM=","total-results":915613,"items":[{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T11:43:31Z","timestamp":1574855011181},"reference-count":55,"publisher":"Elsevier
        BV","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,9,1]],"date-time":"2018-09-01T00:00:00Z","timestamp":1535760000000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["31770322"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Plant
        Physiology and Biochemistry"],"published-print":{"date-parts":[[2018,9]]},"DOI":"10.1016\/j.plaphy.2018.07.014","type":"journal-article","created":{"date-parts":[[2018,7,18]],"date-time":"2018-07-18T12:30:23Z","timestamp":1531917023000},"page":"267-276","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["The
        roles of Arabidopsis proteins of Lhcb4, Lhcb5 and Lhcb6 in oxidative stress
        under natural light conditions"],"prefix":"10.1016","volume":"130","author":[{"given":"Yang-Er","family":"Chen","sequence":"first","affiliation":[]},{"given":"Jie","family":"Ma","sequence":"additional","affiliation":[]},{"given":"Nan","family":"Wu","sequence":"additional","affiliation":[]},{"given":"Yan-Qiu","family":"Su","sequence":"additional","affiliation":[]},{"given":"Zhong-Wei","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Ming","family":"Yuan","sequence":"additional","affiliation":[]},{"given":"Huai-Yu","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Xian-Yin","family":"Zeng","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-6565-6914","authenticated-orcid":false,"given":"Shu","family":"Yuan","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Plant
        Physiology and Biochemistry"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0981942818303164?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0981942818303164?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,8,25]],"date-time":"2018-08-25T14:20:38Z","timestamp":1535206838000},"score":1.0,"issued":{"date-parts":[[2018,9]]},"references-count":55,"alternative-id":["S0981942818303164"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.plaphy.2018.07.014","ISSN":["0981-9428"],"issn-type":[{"value":"0981-9428","type":"print"}],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"The roles of Arabidopsis proteins of
        Lhcb4, Lhcb5 and Lhcb6 in oxidative stress under natural light conditions","name":"articletitle","label":"Article
        Title"},{"value":"Plant Physiology and Biochemistry","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/j.plaphy.2018.07.014","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name[...]
