---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=reference-visibility:open,has-references:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":2809426,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 04 Jun 2021 09:46:49 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=reference-visibility:open,has-references:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ8zL6q4u4CPwtodHRwOi8vZHguZG9pLm9yZy8xMC4xMDkzL2V1cmhlYXJ0ai9laHkxNTE=","total-results":2809426,"items":[{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T22:40:53Z","timestamp":1574894453876},"reference-count":12,"publisher":"Wiley","issue":"1","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2018,10,31]],"date-time":"2018-10-31T00:00:00Z","timestamp":1540944000000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor","start":{"date-parts":[[2018,10,31]],"date-time":"2018-10-31T00:00:00Z","timestamp":1540944000000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Heat
        Transfer-Asian Res"],"published-print":{"date-parts":[[2019,1]]},"DOI":"10.1002\/htj.21378","type":"journal-article","created":{"date-parts":[[2018,10,31]],"date-time":"2018-10-31T17:16:12Z","timestamp":1541006172000},"page":"182-215","source":"Crossref","is-referenced-by-count":0,"title":["Improved
        velocity and temperature profiles for integral solution in the laminar boundary
        layer flow on a semi-infinite flat plate"],"prefix":"10.1002","volume":"48","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-9490-7954","authenticated-orcid":false,"given":"S.
        M.","family":"Seyyedi","sequence":"first","affiliation":[{"name":"Department
        of Mechanical Engineering; Aliabad Katoul Branch, Islamic Azad University;
        Aliabad Katoul Iran"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3153-1851","authenticated-orcid":false,"given":"A.
        S.","family":"Dogonchi","sequence":"additional","affiliation":[{"name":"Department
        of Mechanical Engineering; Aliabad Katoul Branch, Islamic Azad University;
        Aliabad Katoul Iran"}]},{"given":"M.","family":"Hashemi-Tilehnoee","sequence":"additional","affiliation":[{"name":"Department
        of Mechanical Engineering; Aliabad Katoul Branch, Islamic Azad University;
        Aliabad Katoul Iran"}]},{"given":"D. D.","family":"Ganji","sequence":"additional","affiliation":[{"name":"Mechanical
        Engineering Department; Babol Noshirvani University of Technology; Babol Iran"}]}],"member":"311","published-online":{"date-parts":[[2018,10,31]]},"reference":[{"key":"10.1002\/htj.21378-BIB0001|htj21378-cit-0001","unstructured":"Prandtl
        L 1928"},{"key":"10.1002\/htj.21378-BIB0002|htj21378-cit-0002","author":"Blasius","volume":"56","first-page":"1","year":"1908","journal-title":"Z.
        Math Physik"},{"key":"10.1002\/htj.21378-BIB0003|htj21378-cit-0003","author":"Pohlhausen","volume":"1","first-page":"115","year":"1921","journal-title":"ZAMM-J
        Appl Math Mech\/Z Ang Math Mech","DOI":"10.1002\/zamm.19210010205","doi-asserted-by":"crossref"},{"key":"10.1002\/htj.21378-BIB0004|htj21378-cit-0004","author":"Chapman","volume":"16","first-page":"547","year":"1949","journal-title":"J
        Aeronaut Sci","DOI":"10.2514\/8.11853","doi-asserted-by":"crossref"},{"key":"10.1002\/htj.21378-BIB0005|htj21378-cit-0005","author":"Weyburne","volume":"54","first-page":"22","year":"2014","journal-title":"Exp
        Ther Fluid Sci","DOI":"10.1016\/j.expthermflusci.2014.01.008","doi-asserted-by":"crossref"},{"key":"10.1002\/htj.21378-BIB0006|htj21378-cit-0006","unstructured":"Bejan
        A 2013"},{"key":"10.1002\/htj.21378-BIB0007|htj21378-cit-0007","unstructured":"Fox
        RW McDonald AT Pritchard PJ 2015"},{"key":"10.1002\/htj.21378-BIB0008|htj21378-cit-0008","unstructured":"Holman
        JP 1986"},{"key":"10.1002\/htj.21378-BIB0009|htj21378-cit-0009","unstructured":"Jiji
        LM 2006","DOI":"10.1155\/ASP\/2006\/73767","doi-asserted-by":"crossref"},{"key":"10.1002\/htj.21378-BIB0010|htj21378-cit-0010","unstructured":"Leinhard
        IV J Leinhard V J 2006"},{"key":"10.1002\/htj.21378-BIB0011|htj21378-cit-0011","unstructured":"Adkins
        W Davidson MG 2012"},{"key":"10.1002\/htj.21378-BIB0012|htj21378-cit-0012","unstructured":"Kays
        WM Crawford ME 1993"}],"container-title":["Heat Transfer-Asian Research"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2Fhtj.21378","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/onlinelibrary.wiley.com\/wol1\/doi\/10.1002\/htj.21378\/fullpdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,10,30]],"date-time":"2019-10-30T06:17:47Z","timestamp":1572416267000},"score":1.0,"subtitle":["SEYYEDIet
        al."],"issued":{"date-parts":[[2018,10,31]]},"references-count":12,"journal-issue":{"published-print":{"date-parts":[[2019,1]]},"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.1002\/htj.21378","archive":["Portico"],"relation":{"cites":[]},"ISSN":["1099-2871"],"issn-type":[{"value":"1099-2871","type":"print"}]},{"institution":{"name":"bioRxiv","place":["-"],"acronym":["-"]},"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T22:40:53Z","timestamp":1574894453957},"posted":{"date-parts":[[2018,10,31]]},"group-title":"Genetics","reference-count":55,"publisher":"Cold
        Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2018,10,31]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:sec><jats:title>Aim<\/jats:title><jats:p>Genetic
        investigation of human plasma lipidome to get insights into lipid-related
        disorders beyond traditional lipid measures.<\/jats:p><\/jats:sec><jats:sec><jats:title>Methods
        and Results<\/jats:title><jats:p>We performed a genome-wide association study
        (GWAS) of 141 lipid species (n=2,181 individuals), followed by phenome-wide
        scans (PheWAS) with 44 clinical endpoints related to cardiometabolic, psychiatric
        and gastrointestinal disorders (n=456,941 individuals). SNP-based heritability
        for lipid species ranged from 0.10-0.54. Lipids with long-chain polyunsaturated
        fatty acids showed higher heritability and genetic sharing, suggesting considerable
        genetic regulation at acyl chains levels. We identified 35 genomic regions
        associated with at least one lipid species (P&lt;5\u00d710<jats:sup>\u22128<\/jats:sup>),
        revealing 37 new SNP-lipid species pair associations e.g. new association
        between <jats:italic>ABCG5\/8<\/jats:italic> and CE(20:2;0). PheWAS of lipid-species-associated
        loci suggested new associations of <jats:italic>BLK<\/jats:italic> with obesity,
        <jats:italic>FADS2<\/jats:italic> with thrombophlebitis, and <jats:italic>BLK<\/jats:italic>
        and <jats:italic>SPTLC3<\/jats:italic> with gallbladder disease (false discovery
        rate &lt;0.05). The association patterns of lipid-species-associated loci
        supplied clues to their probable roles in lipid metabolism e.g. suggestive
        role of <jats:italic>SYNGR1, MIR100HG<\/jats:italic>, and <jats:italic>PTPRN2<\/jats:italic>
        in desaturation and\/or elongation of fatty acids. At known lipid loci (<jats:italic>FADS2,
        APOA5<\/jats:italic> and <jats:italic>LPL<\/jats:italic>), genetic associations
        provided detailed insights to their roles in lipid biology and diseases. We
        also show that traditional lipid measures may fail to capture lipids such
        as lysophospatidylcholines (LPCs) and phosphatidylcholines (PCs) that are
        potential disease risk factors, but are not included in routine screens. The
        full genome-wide association statistics are available on the web-based database
        (<jats:ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" ext-link-type=\"uri\"
        xlink:href=\"http:\/\/35.205.141.92\">http:\/\/35.205.141.92<\/jats:ext-link>).<\/jats:p><\/jats:sec><jats:sec><jats:title>Conclusion<\/jats:title><jats:p>Our
        study reveals genetic regulation of plasma lipidome and highlights the potential
        of lipidomic profiling in disease gene mapping.<\/jats:p><\/jats:sec>","DOI":"10.1101\/457960","type":"posted-content","created":{"date-parts":[[2018,10,31]],"date-time":"2018-10-31T17:19:32Z","timestamp":1541006372000},"source":"Crossref","is-refere[...]
