---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=reference-visibility:open,has-references:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":2047716,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 01 Aug 2020 13:32:48 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=reference-visibility:open,has-references:true,from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ\/08jB1+4CPwtodHRwOi8vZHguZG9pLm9yZy8xMC4xMTc3LzA5Njc3NzIwMTg3ODM1OTI=","total-results":2047716,"items":[{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T17:07:32Z","timestamp":1574874452282},"reference-count":32,"publisher":"SAGE
        Publications","issue":"1","license":[{"URL":"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license","start":{"date-parts":[[2002,1,1]],"date-time":"2002-01-01T00:00:00Z","timestamp":1009843200000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Cellular
        Polymers"],"published-print":{"date-parts":[[2002,1]]},"DOI":"10.1177\/026248930202100103","type":"journal-article","created":{"date-parts":[[2018,9,5]],"date-time":"2018-09-05T05:39:43Z","timestamp":1536125983000},"page":"35-68","source":"Crossref","is-referenced-by-count":1,"title":["Rheological
        Behavior of Ethylene-Octene Copolymer Vulcanizates: Effect of Blowing Agent
        and Precipitated Aluminium Silicate Filler"],"prefix":"10.1177","volume":"21","author":[{"given":"N.C.","family":"Nayak","sequence":"first","affiliation":[{"name":"Rubber
        Technology Centre, Indian Institute of Technology, Kharagpur. Kharagpur-721302,
        India"}]},{"given":"A.K.","family":"Bhattachariya","sequence":"additional","affiliation":[{"name":"Rubber
        Technology Centre, Indian Institute of Technology, Kharagpur. Kharagpur-721302,
        India"}]},{"given":"D.K.","family":"Tripathy","sequence":"additional","affiliation":[{"name":"Rubber
        Technology Centre, Indian Institute of Technology, Kharagpur. Kharagpur-721302,
        India"}]}],"member":"179","published-online":{"date-parts":[[2018,9,4]]},"reference":[{"key":"bibr1-026248930202100103","author":"Bigg
        D. M.","volume":"16","first-page":"706","year":"1976","journal-title":"Polym.
        Eng. Sci.","DOI":"10.1002\/pen.760161009","doi-asserted-by":"crossref"},{"key":"bibr2-026248930202100103","DOI":"10.1177\/0021955X7601200106","doi-asserted-by":"publisher"},{"key":"bibr3-026248930202100103","author":"Dutta
        A.","volume":"65","first-page":"932","year":"1992","journal-title":"Rubb.
        Chem. Technol.","DOI":"10.5254\/1.3538652","doi-asserted-by":"crossref"},{"key":"bibr4-026248930202100103","author":"Oyangi
        Y","volume":"23","first-page":"1013","year":"1979","journal-title":"J. Appl.
        Polym. Sci.","DOI":"10.1002\/a[...]
