---
http_interactions:
- request:
    method: get
    uri: https://oai.portal.mardi4nfdi.de/oai/OAIHandler?from=2025-02-01T00:00:00Z&metadataPrefix=datacite_swmath&until=2025-02-02T12:00:00Z&verb=ListIdentifiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" ?><?xml-stylesheet type="text/xsl"
        href="/oai/stylesheet"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2025-05-09T13:40:43Z</responseDate><request
        from="2025-02-01T00:00:00Z" metadataPrefix="datacite_swmath" until="2025-02-02T12:00:00Z"
        verb="ListIdentifiers">https://oai.portal.mardi4nfdi.de/oai/OAIHandler</request><ListIdentifiers><header><identifier>oai:swmath.org:7734</identifier><datestamp>2025-04-17T22:52:55Z</datestamp><setSpec>68</setSpec><setSpec>97</setSpec></header><header><identifier>oai:swmath.org:8662</identifier><datestamp>2025-04-17T22:52:55Z</datestamp><setSpec>49</setSpec><setSpec>68</setSpec><setSpec>70</setSpec></header><header><identifier>oai:swmath.org:8874</identifier><datestamp>2025-04-17T22:52:55Z</datestamp></header><header><identifier>oai:swmath.org:9209</identifier><datestamp>2025-04-17T22:52:55Z</datestamp><setSpec>60</setSpec><setSpec>34</setSpec><setSpec>68</setSpec><setSpec>65</setSpec><setSpec[...]
