---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100011326
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100012731":"Grantham
        Research Institute on Climate Change and the Environment, London School of
        Economics and Political Science","100011326":"London School of Economics and
        Political Science"},"replaced-by":[],"work-count":99,"name":"London School
        of Economics and Political Science","descendants":["100012731"],"descendant-work-count":101,"id":"100011326","tokens":["london","school","of","economics","and","political","science","london","school","of","economics","&","and","political","science","lse"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100011326","hierarchy":{"100011326":{"100012731":{}}},"alt-names":["London
        School of Economics & Political Science","LSE"],"location":null}}'
  recorded_at: Sun, 09 Jun 2019 16:29:20 GMT
recorded_with: VCR 3.0.3
