---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,relatedIdentifier,nameIdentifier,funderIdentifier,minted,updated&fq=updated:%5B2018-01-04T00:00:00Z%20TO%202018-01-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=funderIdentifier:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":2},"response":{"numFound":31,"start":0,"docs":[]}}

'
  recorded_at: Sun, 07 Oct 2018 09:03:01 GMT
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,relatedIdentifier,nameIdentifier,funderIdentifier,minted,updated&fq=updated:%5B2018-01-04T00:00:00Z%20TO%202018-01-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=funderIdentifier:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":31,"start":0,"docs":[{"minted":"2018-01-10T12:47:33Z","updated":"2018-01-10T12:47:33Z","doi":"10.21953/LSE.6PV8EY9VXC10","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-GI.html"],"funderIdentifier":["Crossref
        Funder ID:http://dx.doi.org/10.13039/100011326"]},{"minted":"2018-01-12T10:56:08Z","updated":"2018-01-12T14:22:51Z","doi":"10.21953/LSE.VJUU30KSC7KD","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-GV.html"],"funderIdentifier":["Crossref
        Funder ID:http://dx.doi.org/10.13039/501100002322/Funder ID"]},{"minted":"2018-01-12T11:26:46Z","updated":"2018-01-12T14:22:22Z","doi":"10.21953/LSE.ZUCSE37VLJA1","relatedIdentifier":["IsPartOf:URL:http://etheses.lse.ac.uk/view/sets/LSE-SA.html"],"funderIdentifier":["Crossref
        Funder ID:http://dx.doi.org/10.13039/501100000613/Funder ID"]},{"minted":"2018-01-15T12:46:35Z","updated":"2018-01-15T12:46:35Z","doi":"10.0133/32061","relatedIdentifier":["IsCitedBy:DOI:10.1055/s-3001-26742764"],"funderIdentifier":["Crossref
        Funder ID:501100001659"],"nameIdentifier":["ORCID:0000-0002-5139-5511"]},{"minted":"2018-01-25T08:19:11Z","updated":"2018-01-25T08:19:11Z","doi":"10.0133/1516868342172","relatedIdentifier":["Cites:bibcode:Bibibibib","IsCompiledBy:URL:ENENENENEEEAAAANNN"],"funderIdentifier":["Crossref
        Funder ID:http://dx.doi.org/10.13039/501100001659","ISNI:033000012150090X"],"nameIdentifier":["ORCID:2220-0021-5000-0004"]},{"minted":"2018-01-25T08:21:09Z","updated":"2018-01-25T08:21:09Z","doi":"10.0133/32069","relatedIdentifier":["IsCitedBy:bibco[...]
