---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20181007T081544Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIUG4XO77LTVIG3PA/20181007/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5bef49a880c029dff36c9bf8651757542b2238fe50575b7c4ea3c4a4e86c9641
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 9becc6bd-254f-5b4a-a73a-928ee7bfa566
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>9becc6bd-254f-5b4a-a73a-928ee7bfa566</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Sun, 07 Oct 2018 08:15:45 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=ApproximateNumberOfMessages&AttributeName.2=ApproximateNumberOfMessagesNotVisible&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Ftest_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20181007T081545Z
      X-Amz-Content-Sha256:
      - 4fa1f9790ab8d8b778fc048ef890ef00e82c1fd4658cd21964eff9eb5dc9426d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIUG4XO77LTVIG3PA/20181007/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2ebd5a35f00334380d4425d041964003252692d150554305dd0ac233dc26e44d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 0216a20a-b812-54af-a2e9-f6397ae32ec5
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>0216a20a-b812-54af-a2e9-f6397ae32ec5</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Sun, 07 Oct 2018 08:15:45 GMT
[...]
