---
http_interactions:
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,relatedIdentifier,nameIdentifier,funderIdentifier,minted,updated&fq=updated:%5B2018-01-04T00:00:00Z%20TO%202018-08-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:URL%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":337,"start":0,"docs":[]}}

'
  recorded_at: Sun, 02 Dec 2018 23:51:10 GMT
- request:
    method: get
    uri: https://solr.test.datacite.org/api?fl=doi,relatedIdentifier,nameIdentifier,funderIdentifier,minted,updated&fq=updated:%5B2018-01-04T00:00:00Z%20TO%202018-08-05T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:URL%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":337,"start":0,"docs":[{"minted":"2014-02-17T13:37:30Z","updated":"2018-05-14T19:23:59Z","doi":"10.4224/CRM.2010E.NIMS-1","relatedIdentifier":["IsVariantFormOf:DOI:10.4224/crm.2010f.nims-1","References:URL:http://www.iso.org/iso/catalogue_detail.htm?csnumber=45315","References:DOI:10.1088/0026-1394/45/1/008","References:DOI:10.1021/ac9008435","References:DOI:10.1039/B926288A","References:DOI:10.1039/B926288A","References:URL:http://water.epa.gov/scitech/methods/cwa/metals/mercury/upload/2007_07_10_methods_method_mercury_1631.pdf","References:DOI:10.1007/s007690050020","References:DOI:10.1007/s007690050218","References:URL:https://www-s.nist.gov/srmors/certificates/997.pdf","References:DOI:10.1007/s007690000261","References:DOI:10.1007/s007690000238"],"nameIdentifier":["ORCID:https://orcid.org/0000-0002-3349-5535","ORCID:https://orcid.org/0000-0002-2377-2615","ORCID:https://orcid.org/0000-0001-7304-3034","ORCID:https://orcid.org/0000-0002-3376-0722","ORCID:https://orcid.org/0000-0002-4351-2503"]},{"minted":"2014-02-17T18:47:14Z","updated":"2018-05-14T19:24:15Z","doi":"10.4224/CRM.2010F.NIMS-1","relatedIdentifier":["IsVariantFormOf:DOI:10.4224/crm.2010e.nims-1","References:URL:http://www.iso.org/iso/catalogue_detail.htm?csnumber=45315","References:DOI:10.1088/[...]
