---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/clients?page%5Bnumber%5D=1&page%5Bsize%5D=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 504
      message: Gateway Time-out
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 25 Feb 2018 11:36:08 GMT
recorded_with: VCR 3.0.3
