---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1055/s-0030-1259729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,2,16]],"date-time":"2019-02-16T09:30:49Z","timestamp":1550309449583},"reference-count":0,"publisher":"Georg
        Thieme Verlag KG","issue":"07","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Synlett"],"published-print":{"date-parts":[[2011,4]]},"DOI":"10.1055\/s-0030-1259729","type":"journal-article","created":{"date-parts":[[2011,3,11]],"date-time":"2011-03-11T02:10:34Z","timestamp":1299809434000},"page":"1038-1042","source":"Crossref","is-referenced-by-count":8,"title":["Copper-Catalyzed
        Aromatic C-H Bond Halogenation Using Lithium Halides as Halogenating Reagents"],"prefix":"10.1055","volume":"2011","author":[{"given":"Zengming","family":"Shen","sequence":"first","affiliation":[]},{"given":"Yongzhong","family":"Lu","sequence":"additional","affiliation":[]},{"given":"Ruiping","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Xixue","family":"Qiao","sequence":"additional","affiliation":[]}],"member":"194","published-online":{"date-parts":[[2011,3,10]]},"container-title":["Synlett"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/www.thieme-connect.de\/products\/ejournals\/pdf\/10.1055\/s-0030-1259729.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,5,22]],"date-time":"2017-05-22T21:42:06Z","timestamp":1495489326000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2011,3,10]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2011,4]]},"issue":"07"},"URL":"http:\/\/dx.doi.org\/10.1055\/s-0030-1259729","relation":{},"ISSN":["0936-5214","1437-2096"],"issn-type":[{"value":"0936-5214","type":"print"},{"value":"1437-2096","type":"electronic"}],"subject":["Organic
        Chemistry"]}}'
  recorded_at: Thu, 14 Mar 2019 15:32:08 GMT
recorded_with: VCR 3.0.3
