---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.1055/s-0030-1259729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"7d1ff60d712f949d375a2b95c823932f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.1055/s-0030-1259729","type":"dois","attributes":{"doi":"10.1055/s-0030-1259729","prefix":"10.1055","suffix":"s-0030-1259729","identifiers":[{"identifier":"https://doi.org/10.1055/s-0030-1259729","identifierType":"DOI"},{"identifier":"s-0030-1259729","identifierType":"Publisher
        ID"}],"creators":[{"name":"Lu, Yongzhong","nameType":"Personal","givenName":"Yongzhong","familyName":"Lu","affiliation":[]},{"name":"Wang,
        Ruiping","nameType":"Personal","givenName":"Ruiping","familyName":"Wang","affiliation":[]},{"name":"Qiao,
        Xixue","nameType":"Personal","givenName":"Xixue","familyName":"Qiao","affiliation":[]},{"name":"Shen,
        Zengming","nameType":"Personal","givenName":"Zengming","familyName":"Shen","affiliation":[]}],"titles":[{"title":"Copper-Catalyzed
        Aromatic C-H Bond Halogenation Using Lithium Halides as Halogenating Reagents"}],"publisher":"(:unav)","container":{"type":"Journal","issue":"07","title":"Synlett","volume":"2011","lastPage":"1042","firstPage":"1038","identifier":"0936-5214","identifierType":"ISSN"},"publicationYear":2011,"subjects":null,"contributors":[],"dates":[{"date":"2011-03-10","dateType":"Issued"},{"date":"2017-05-22T21:42:06Z","dateType":"Updated"}],"language":null,"types":{"ris":"JOUR","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"JournalArticle","resourceTypeGeneral":"Text"},"relatedIdentifiers":[{"relationType":"IsPartOf","relatedIdentifier":"0936-5214","resourceTypeGeneral":"Collection","relatedIdentifierType":"ISSN"}],"sizes":null,"formats":null,"version":null,"rightsList":[],"descriptions":null,"geoLocations":null,"fundingReferences":null,"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuMTA1NS9TLTAwMzAtMTI1OTcyOTwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3JlYXRvcj4KICAgICAgPGNyZWF0b3JOYW1[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1055/s-0030-1259729?mailto=support@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,7,8]],"date-time":"2019-07-08T15:05:32Z","timestamp":1562598332925},"reference-count":0,"publisher":"Georg
        Thieme Verlag KG","issue":"07","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Synlett"],"published-print":{"date-parts":[[2011,4]]},"DOI":"10.1055\/s-0030-1259729","type":"journal-article","created":{"date-parts":[[2011,3,11]],"date-time":"2011-03-11T02:10:34Z","timestamp":1299809434000},"page":"1038-1042","source":"Crossref","is-referenced-by-count":9,"title":["Copper-Catalyzed
        Aromatic C-H Bond Halogenation Using Lithium Halides as Halogenating Reagents"],"prefix":"10.1055","volume":"2011","author":[{"given":"Zengming","family":"Shen","sequence":"first","affiliation":[]},{"given":"Yongzhong","family":"Lu","sequence":"additional","affiliation":[]},{"given":"Ruiping","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Xixue","family":"Qiao","sequence":"additional","affiliation":[]}],"member":"194","published-online":{"date-parts":[[2011,3,10]]},"container-title":["Synlett"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/www.thieme-connect.de\/products\/ejournals\/pdf\/10.1055\/s-0030-1259729.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,5,22]],"date-time":"2017-05-22T21:42:06Z","timestamp":1495489326000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2011,3,10]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2011,4]]},"issue":"07"},"URL":"http:\/\/dx.doi.org\/10.1055\/s-0030-1259729","relation":{},"ISSN":["0936-5214","1437-2096"],"issn-type":[{"value":"0936-5214","type":"print"},{"value":"1437-2096","type":"electronic"}],"subject":["Organic
        Chemistry"]}}'
  recorded_at: Mon, 30 Sep 2019 09:40:45 GMT
recorded_with: VCR 3.0.3
