---
http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2018-01-04&mailto=info@datacite.org&rows=0&scholix=true&source=crossref&until-collected-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":0,"items-per-page":0,"events":[]}}'
  recorded_at: Thu, 16 Nov 2023 07:27:08 GMT
- request:
    method: get
    uri: https://api.crossref.org/beta/datacitations?from-created-date=2018-01-04&mailto=info@datacite.org&rows=0&until-created-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit:
      - '3'
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - datacitations
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message":{"total-results":7751,"next-page":null,"items-per-page":0,"items":[]},"message-type":"data-citations-list"}'
  recorded_at: Wed, 25 Mar 2026 09:23:56 GMT
- request:
    method: get
    uri: https://api.crossref.org/beta/datacitations?from-created-date=2018-01-04&mailto=info@datacite.org&page=0&rows=25&until-created-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit:
      - '3'
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - datacitations
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message":{"total-results":7751,"next-page":1,"items-per-page":25,"items":[{"timestamp":"2018-01-04T00:05:30Z","relation":"references","subject":{"id":"10.1071/ah17148","type":"journal-article","member":"67","registration-agency":"Crossref"},"object":{"id":"10.1037/e674312010-001","type":"dataset","registration-agency":"Crossref"}},{"timestamp":"2018-01-04T00:38:27Z","relation":"references","subject":{"id":"10.1136/bmjopen-2017-019011","type":"journal-article","member":"239","registration-agency":"Crossref"},"object":{"id":"10.1037/t06496-000","type":"dataset","registration-agency":"Crossref"}},{"timestamp":"2018-01-04T01:42:53Z","relation":"references","subject":{"id":"10.1007/978-3-319-73450-7_53","type":"book-chapter","member":"297","regi[...]
[...]
