---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":17905,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 01 Aug 2020 13:34:36 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-01-04&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ96\/i7t+8CPwxodHRwOi8vZHguZG9pLm9yZy8xMC4xMTA5L3RtdHQuMjAxNy4yNzgzMzgy","total-results":17905,"items":[{"indexed":{"date-parts":[[2019,12,24]],"date-time":"2019-12-24T11:40:10Z","timestamp":1577187610211},"posted":{"date-parts":[[2018,1,4]]},"group-title":"PeerJ
        Preprints","reference-count":0,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T00:00:00Z","timestamp":1515024000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2018,1,4]]},"abstract":"<jats:p>Human
        speech is the most important part of General Artificial Intelligence and subject
        of much research. The hypothesis proposed in this article provides explanation
        of difficulties that modern science tackles in the field of human brain simulation.
        The hypothesis is based on the author\u2019s conviction that the brain of
        any given person has different ability to process and store information. Therefore,
        the approaches that are currently used to create General Artificial Intelligence
        have to be altered.<\/jats:p>","DOI":"10.7287\/peerj.preprints.1576","type":"posted-content","created":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T23:09:46Z","timestamp":1515107386000},"source":"Crossref","is-referenced-by-count":0,"title":["Multilayered
        model of speech"],"prefix":"10.7287","author":[{"given":"Andrey","family":"Chistyakov","sequence":"first","affiliation":[{"name":"Non
        affiliated, Saint Petersburg, Russia"}]}],"member":"4443","link":[{"URL":"https:\/\/peerj.com\/preprints\/1576.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/peerj.com\/preprints\/1576.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/peerj.com\/preprints\/1576.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/peerj.com\/preprints\/1576.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,12,24]],"date-time":"2019-12-24T11:19:23Z","timestamp":1577186363000},"score":1.0,"issued":{"date-parts":[[2018,1,4]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.7287\/peerj.preprints.1576","subtype":"preprint"},{"indexed":{"date-parts":[[2019,12,24]],"date-time":"2019-12-24T12:10:10Z","timestamp":1577189410133},"posted":{"date-parts":[[2018,1,4]]},"group-title":"PeerJ
        Preprints","reference-count":0,"publisher":"PeerJ","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2018,1,4]],"date-time":"2018-01-04T00:00:00Z","timestamp":1515024000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restricti[...]
