---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1021/jp036075h?mailto=info@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,4,24]],"date-time":"2020-04-24T13:30:38Z","timestamp":1587735038397},"reference-count":0,"publisher":"American
        Chemical Society (ACS)","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Phys. Chem. B"],"published-print":{"date-parts":[[2004,1]]},"DOI":"10.1021\/jp036075h","type":"journal-article","created":{"date-parts":[[2004,1,22]],"date-time":"2004-01-22T01:05:22Z","timestamp":1074733522000},"page":"1497-1506","source":"Crossref","is-referenced-by-count":9,"title":["Theoretical
        Investigation of Small Alkali Cation\u2212Molecule Clusters:\u00a0 A Model
        Potential Approach"],"prefix":"10.1021","volume":"108","author":[{"given":"C.","family":"C\u00e9zard","sequence":"first","affiliation":[]},{"given":"B.","family":"Bouvier","sequence":"additional","affiliation":[]},{"given":"V.","family":"Brenner","sequence":"additional","affiliation":[]},{"given":"M.","family":"Defranceschi","sequence":"additional","affiliation":[]},{"given":"Ph.","family":"Milli\u00e9","sequence":"additional","affiliation":[]},{"given":"J.
        M.","family":"Soudan","sequence":"additional","affiliation":[]},{"given":"J.
        P.","family":"Dognon","sequence":"additional","affiliation":[]}],"member":"316","container-title":["The
        Journal of Physical Chemistry B"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/pubs.acs.org\/doi\/pdf\/10.1021\/jp036075h","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,9,28]],"date-time":"2019-09-28T17:51:04Z","timestamp":1569693064000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2004,1]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2004,1]]},"issue":"4"},"alternative-id":["10.1021\/jp036075h"],"URL":"http:\/\/dx.doi.org\/10.1021\/jp036075h","relation":{},"ISSN":["1520-6106","1520-5207"],"issn-type":[{"value":"1520-6106","type":"print"},{"value":"1520-5207","type":"electronic"}],"subject":["Physical
        and Theoretical Chemistry","Materials Chemistry","Surfaces, Coatings and Films"]}}'
  recorded_at: Sun, 02 Aug 2020 08:36:00 GMT
recorded_with: VCR 5.1.0
