---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1039/c8cc06410e?mailto=info@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,5,27]],"date-time":"2021-05-27T09:24:03Z","timestamp":1622107443265},"reference-count":41,"publisher":"Royal
        Society of Chemistry (RSC)","issue":"6","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc\/3.0\/","start":{"date-parts":[[2018,12,12]],"date-time":"2018-12-12T00:00:00Z","timestamp":1544572800000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100001659","name":"Deutsche
        Forschungsgemeinschaft","doi-asserted-by":"publisher","award":["Cluster of
        Excellence UniCat, EXC 314-2, grant STR","Priority program SPP1613, grant
        DA402\/7-2"]},{"DOI":"10.13039\/501100002347","name":"Bundesministerium f\u00fcr
        Bildung und Forschung","doi-asserted-by":"publisher","award":["In situ XAS,
        grant 05K16KE2","CO2EKAT, grant 03SF0523-A\/B"]},{"DOI":"10.13039\/501100004063","name":"Knut
        och Alice Wallenbergs Stiftelse","doi-asserted-by":"publisher","award":["3DEM-NATUR"]},{"DOI":"10.13039\/501100006360","name":"Bundesministerium
        f\u00fcr Wirtschaft und Energie","doi-asserted-by":"publisher","award":["PtTM@HGS\/03ET6080A"]}],"content-domain":{"domain":["rsc.org"],"crossmark-restriction":true},"short-container-title":["Chem.
        Commun."],"abstract":"<p>Physically mixing distinct Ni(OH)<sub>2<\/sub>and
        Fe(OOH) particles leads to formation of highly active \u201cphysically mixed\u201d
        Ni + Fe catalysts with atomically intermixed Ni\u2013(O)\u2013Fe sites.<\/p>","DOI":"10.1039\/c8cc06410e","type":"journal-article","created":{"date-parts":[[2018,12,12]],"date-time":"2018-12-12T16:11:52Z","timestamp":1544631112000},"page":"818-821","update-policy":"http:\/\/dx.doi.org\/10.1039\/rsc_crossmark_policy","source":"Crossref","is-referenced-by-count":26,"title":["Formation
        of unexpectedly active Ni\u2013Fe oxygen evolution electrocatalysts by physically
        mixing Ni and Fe oxyhydroxides"],"prefix":"10.1039","volume":"55","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-4472-955X","authenticated-orcid":false,"given":"Mikaela","family":"G\u00f6rlin","sequence":"first","affiliation":[{"name":"Department
        of Physics"},{"name":"Free University of Berlin"},{"name":"14195 Berlin"},{"name":"Germany"},{"name":"The
        Electrochemical Energy, Catalysis, and Materials Science Laboratory"}]},{"given":"Petko","family":"Chernev","sequence":"additional","affiliation":[{"name":"Department
        of Physics"},{"name":"Free University of Berlin"},{"name":"14195 Berlin"},{"name":"Germany"}]},{"given":"Paul","family":"Paciok","sequence":"additional","affiliation":[{"name":"Ernst[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.13039/501100001659?mailto=info@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: Resource not found.
  recorded_at: Fri, 04 Jun 2021 09:52:29 GMT
recorded_with: VCR 5.1.0
