---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1021/jp036075h?mailto=info@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,6,2]],"date-time":"2021-06-02T21:41:05Z","timestamp":1622670065271},"reference-count":36,"publisher":"American
        Chemical Society (ACS)","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Phys. Chem. B"],"published-print":{"date-parts":[[2004,1,1]]},"DOI":"10.1021\/jp036075h","type":"journal-article","created":{"date-parts":[[2004,1,22]],"date-time":"2004-01-22T06:05:22Z","timestamp":1074751522000},"page":"1497-1506","source":"Crossref","is-referenced-by-count":9,"title":["Theoretical
        Investigation of Small Alkali Cation\u2212Molecule Clusters:\u2009 A Model
        Potential Approach"],"prefix":"10.1021","volume":"108","author":[{"given":"C.","family":"C\u00e9zard","sequence":"first","affiliation":[{"name":"CEA\/Saclay,
        DSM\/DRECAM\/SPAM-LFP (CEA-CNRS URA2453), Bat. 522, 91191 Gif sur Yvette,
        France, CEA Saclay, DEN\/DSOE\/RB, and Paris-Sud University, Bat. 350, 91405
        Orsay Cedex, France"}]},{"given":"B.","family":"Bouvier","sequence":"additional","affiliation":[{"name":"CEA\/Saclay,
        DSM\/DRECAM\/SPAM-LFP (CEA-CNRS URA2453), Bat. 522, 91191 Gif sur Yvette,
        France, CEA Saclay, DEN\/DSOE\/RB, and Paris-Sud University, Bat. 350, 91405
        Orsay Cedex, Franc[...]
