---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/researchers/0000-0003-1419-2405
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8398ad8cf7616a29caa927843fe52091"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0003-1419-2405","type":"researchers","attributes":{"name":"Martin
        Fenner","givenNames":null,"familyName":null,"createdAt":"2019-08-23T06:03:49.918Z","updatedAt":"2019-08-23T06:03:49.918Z"}},"meta":{"dois":[{"id":"2018","title":"2018","count":2},{"id":"2019","title":"2019","count":55}],"resourceTypes":[{"id":"text","title":"Text","count":26},{"id":"software","title":"Software","count":21},{"id":"dataset","title":"Dataset","count":7},{"id":"event","title":"Event","count":1},{"id":"interactive-resource","title":"InteractiveResource","count":1},{"id":"model","title":"Model","count":1}]}}'
  recorded_at: Mon, 02 Sep 2019 13:09:24 GMT
recorded_with: VCR 3.0.3
