---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users/0000-0002-2203-2076
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Sat, 08 Feb 2020 21:56:38 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/0000-0002-2203-2076/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "last-modified-date" : {
            "value" : 1568284477970
          },
          "name" : {
            "created-date" : {
              "value" : 1460757856211
            },
            "last-modified-date" : {
              "value" : 1460757856211
            },
            "given-names" : {
              "value" : "Claudia "
            },
            "family-name" : {
              "value" : "Baider"
            },
            "credit-name" : {
              "value" : "Claudia Baider"
            },
            "source" : null,
            "visibility" : "PUBLIC",
            "path" : "0000-0002-2203-2076"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0002-2203-2076/other-names"
          },
          "biography" : {
            "created-date" : {
              "value" : 1460757856214
            },
            "last-modified-date" : {
              "value" : 1580886553950
            },
            "content" : "Brazilian-born ecologist interested in patterns of vegetation distribution and dynamics, conservation biology, invasive alien species and taxonomy of Mascarene flowering plants",
            "visibility" : "PUBLIC",
            "path" : "/0000-0002-2203-2076/biography"
          },
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0002-2203-2076/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : {
              "value" : 1568284477970
            },
            "email" : [ {
              "created-date" : {
                "value" : 1371096776711
              },
              "last-modified-date" : {
                "value" : 1568284477970
              },
              "source" : null,
              "email" : "clbaider@gmail.com",
              "path" : null,
              "visibility" : "PUBLIC",
              "verified" : true,
              "primary" : true,
              "put-code" : null
            } ],
            "path" : "/0000-0002-2203-2076/email"
          },
          "addresses" : {
            "last-modified-date" : null,
            "address" : [ ],
            "path" : "/0000-0002-2203-2076/address"
          },
          "keywords" : {
            "last-modified-date" : {
              "value" : 1371096776713
            },
            "keyword" : [ {
              "created-date" : {
                "value" : 1371096776713
              },
              "last-modified-date" : {
                "value" : 1371096776713
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-2203-2076",
                  "path" : "0000-0002-2203-2076",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Claudia Baider"
                }
              },
              "content" : "Amazon, Brazil nut, Mauritius, invasive alien species, conservation biology",
              "visibility" : "PUBLIC",
              "path" : "/0000-0002-2203-2076/keywords/15279",
              "put-code" : 15279,
              "display-index" : 0
            } ],
            "path" : "/0000-0002-2203-2076/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : {
              "value" : 1471776967146
            },
            "external-identifier" : [ {
              "created-date" : {
                "value" : 1471776967146
              },
              "last-modified-date" : {
                "value" : 1471776967146
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
                  "uri" : "https://orcid.org/client/0000-0002-5982-8983",
                  "path" : "0000-0002-5982-8983",
                  "host" : "orcid.org"
                },
                "source-name" : {
                  "value" : "Scopus - Elsevier"
                }
              },
              "external-id-type" : "Scopus Author ID",
              "external-id-value" : "55886786000",
              "external-id-url" : {
                "value" : "http://www.scopus.com/inward/authorDetails.url?authorID=55886786000&partnerID=MN8TOARS"
              },
              "external-id-relationship" : "SELF",
              "visibility" : "PUBLIC",
              "path" : "/0000-0002-2203-2076/external-identifiers/531371",
              "put-code" : 531371,
              "display-index" : 0
            } ],
            "path" : "/0000-0002-2203-2076/external-identifiers"
          },
          "path" : "/0000-0002-2203-2076/person"
        }
  recorded_at: Sat, 08 Feb 2020 21:56:38 GMT
- request:
    method: post
    uri: https://api.test.datacite.org/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","attributes":{"uid":"0000-0002-2203-2076","name":"Claudia
        Baider","givenNames":"Claudia ","familyName":"Baider"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDItODU5OS0wNzczIiwibmFtZSI6IlJpY2hhcmQgSGFsbGV0dCIsImVtYWlsIjoicmhhbGxldHRAZGF0YWNpdGUub3JnIiwicm9sZV9pZCI6InN0YWZmX2FkbWluIiwiYmV0YV90ZXN0ZXIiOmZhbHNlLCJmZWF0dXJlcyI6eyJkZWxldGUtZG9pIjpmYWxzZX0sImlhdCI6MTUzMzkwMjM0NiwiZXhwIjoyMTY1MDU0MzQ2fQ.eEMiYeYHPP7EXVF2DCWhBXX0hwDfwL4zvNifpLPLyF0jsITVPIPGTRzbe1ql1XIxcw4QjBb4DOWfnZ1IkR-lTCMxWcnfBEzL67e1E9B0RE2GeXkcYUOMu7XJ4pCQf1hAHcb_b4OjCz0Z-qRDRA9U6z1pWDjRPLAchZJlLsIGXbuqqCeBusIz5Uv4DsyjCTtc3ldQwpD76mHhvq3AmO4bKB4Ttv8ak-oAllZMUm3sqJLxh5KrsCpHWDs0i9olK6qxHnlsrnsxTFS_Xn2T_0egRB9Ilxe_qBwsHeguZNqcd_Ls-JkVmc4nNJL0ZkhvwojR66t5rKkNMH0H-HJCpntFKA
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - 0000-0002-8599-0773
      Etag:
      - W/"acec57b15c66eba29d3fbf63edc6a37d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0002-2203-2076","type":"users","attributes":{"givenNames":"Claudia
        ","familyName":"Baider","name":"Claudia Baider","orcid":"https://orcid.org/0000-0002-2203-2076","github":null,"roleId":"user","isActive":false,"created":"2020-02-08T21:56:38.000Z","updated":"2020-02-08T21:56:38.000Z"},"relationships":{}}}'
  recorded_at: Sat, 08 Feb 2020 21:56:39 GMT
recorded_with: VCR 3.0.3
