---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/users/0000-0002-2203-2076
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"0bc5a9945df706646561abf3eabfc457"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0002-2203-2076","type":"users","attributes":{"givenNames":"Claudia
        ","familyName":"Baider","name":"Claudia Baider","orcid":"https://orcid.org/0000-0002-2203-2076","github":null,"roleId":"user","isActive":false,"created":"2020-02-08T21:56:38.000Z","updated":"2020-02-08T21:56:38.000Z"},"relationships":{}},"meta":{"dois":[],"published":[],"resourceTypes":[],"views":[],"downloads":[],"citations":[]}}'
  recorded_at: Sun, 09 Feb 2020 16:05:31 GMT
recorded_with: VCR 3.0.3
