---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/researchers/0000-0002-2203-2076
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 27 Sep 2019 05:09:21 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/0000-0002-2203-2076/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "last-modified-date" : {
            "value" : 1568284477970
          },
          "name" : {
            "created-date" : {
              "value" : 1460757856211
            },
            "last-modified-date" : {
              "value" : 1460757856211
            },
            "given-names" : {
              "value" : "Claudia "
            },
            "family-name" : {
              "value" : "Baider"
            },
            "credit-name" : {
              "value" : "Claudia Baider"
            },
            "source" : null,
            "visibility" : "PUBLIC",
            "path" : "0000-0002-2203-2076"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0002-2203-2076/other-names"
          },
          "biography" : {
            "created-date" : {
              "value" : 1460757856214
            },
            "last-modified-date" : {
              "value" : 1460757856214
            },
            "content" : "Brazilian born ecologist interested in patterns of vegetation distribution and dynamics, conservation biology and invasive alien species",
            "visibility" : "PUBLIC",
            "path" : "/0000-0002-2203-2076/biography"
          },
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0002-2203-2076/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : {
              "value" : 1568284477970
            },
            "email" : [ {
              "created-date" : {
                "value" : 1371096776711
              },
              "last-modified-date" : {
                "value" : 1568284477970
              },
              "source" : null,
              "email" : "clbaider@gmail.com",
              "path" : null,
              "visibility" : "PUBLIC",
              "verified" : true,
              "primary" : true,
              "put-code" : null
            } ],
            "path" : "/0000-0002-2203-2076/email"
          },
          "addresses" : {
            "last-modified-date" : null,
            "address" : [ ],
            "path" : "/0000-0002-2203-2076/address"
          },
          "keywords" : {
            "last-modified-date" : {
              "value" : 1371096776713
            },
            "keyword" : [ {
              "created-date" : {
                "value" : 1371096776713
              },
              "last-modified-date" : {
                "value" : 1371096776713
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-2203-2076",
                  "path" : "0000-0002-2203-2076",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Claudia Baider"
                }
              },
              "content" : "Amazon, Brazil nut, Mauritius, invasive alien species, conservation biology",
              "visibility" : "PUBLIC",
              "path" : "/0000-0002-2203-2076/keywords/15279",
              "put-code" : 15279,
              "display-index" : 0
            } ],
            "path" : "/0000-0002-2203-2076/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : {
              "value" : 1471776967146
            },
            "external-identifier" : [ {
              "created-date" : {
                "value" : 1471776967146
              },
              "last-modified-date" : {
                "value" : 1471776967146
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
                  "uri" : "https://orcid.org/client/0000-0002-5982-8983",
                  "path" : "0000-0002-5982-8983",
                  "host" : "orcid.org"
                },
                "source-name" : {
                  "value" : "Scopus - Elsevier"
                }
              },
              "external-id-type" : "Scopus Author ID",
              "external-id-value" : "55886786000",
              "external-id-url" : {
                "value" : "http://www.scopus.com/inward/authorDetails.url?authorID=55886786000&partnerID=MN8TOARS"
              },
              "external-id-relationship" : "SELF",
              "visibility" : "PUBLIC",
              "path" : "/0000-0002-2203-2076/external-identifiers/531371",
              "put-code" : 531371,
              "display-index" : 0
            } ],
            "path" : "/0000-0002-2203-2076/external-identifiers"
          },
          "path" : "/0000-0002-2203-2076/person"
        }
  recorded_at: Fri, 27 Sep 2019 05:09:22 GMT
- request:
    method: put
    uri: https://api.test.datacite.org/researchers/0000-0002-2203-2076
    body:
      encoding: UTF-8
      string: '{"data":{"type":"researchers","attributes":{"name":"Claudia Baider","givenNames":"Claudia
        ","familyName":"Baider"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDEtNTQ4OS0zNTk0IiwibmFtZSI6Ikpvc2lhaCBDYXJiZXJyeSIsInJvbGVfaWQiOiJzdGFmZl9hZG1pbiIsImlhdCI6MTU1MzI0OTg4NCwiZXhwIjozMjU2MzI2NTMyNjUzMjU2NTMyNjU3NjIzNTIzNTYyMzU2MjM2NTcyMzY3MzA5NDg1NTA3fQ.dyKeuTqDdqfn0I8KEPAH4N-UD2Y13YtNYXXfgHXorfPZhVLPoHAGs87GDCjtsk2r4VUNDHvNEwGjURYGKvcaCQwz4ukS5vIqCIRio2ZpeptsOuOB_D0n4lvANyWDUbgNGgJt_ddxRo0Th7Wm6oug8lv63E98zFJJLn6Yfd7PKjnKyUXmywNW_RMYdhy-NcvVnCpFxyedx9TbMCPiQU-HYtSerSVIxuW_bqDHj9DvxwiP6lvK64BRyQIU0l3ykPzMIZ7pKYS3KwAIPpCMAtBw99ysRIB-TCV6MP4cMRP7J50mluaDDGy0OBSATPiTbg_uN3MZ2wK26te9PzF6Zjmn4g
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - 0000-0001-5489-3594
      Etag:
      - W/"aff5f333f2a6d02c159ceabbde9c3cc2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0002-2203-2076","type":"researchers","attributes":{"name":"Claudia
        Baider","givenNames":"Claudia ","familyName":"Baider","createdAt":"2019-09-27T05:09:22.676Z","updatedAt":"2019-09-27T05:09:22.676Z"}}}'
  recorded_at: Fri, 27 Sep 2019 05:09:22 GMT
recorded_with: VCR 3.0.3
