---
http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2018-01-04&mailto=info@datacite.org&rows=0&scholix=true&source=crossref&until-collected-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":0,"items-per-page":0,"events":[]}}'
  recorded_at: Fri, 06 May 2022 11:52:51 GMT
recorded_with: VCR 5.1.0
