---
http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2018-01-04&mailto=info@datacite.org&rows=0&source=crossref&until-collected-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":439,"items-per-page":0,"events":[]}}'
  recorded_at: Sat, 01 Aug 2020 11:58:50 GMT
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2018-01-04&mailto=info@datacite.org&rows=25&source=crossref&until-collected-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":"7eb77386-0e8a-4418-970e-d0b33c5c56d3","total-results":439,"items-per-page":25,"events":[{"license":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","obj_id":"https:\/\/doi.org\/10.13097\/archiveouverte\/unige:98205","source_token":"8676e950-8ac5-4074-8ac3-c0a18ada7e99","occurred_at":"2018-01-02T00:00:00Z","subj_id":"https:\/\/doi.org\/10.1007\/s00126-017-0786-9","id":"cdf7b67a-e212-469d-aade-e0a9fc1f44b9","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","message_action":"create","source_id":"crossref","timestamp":"2018-01-04T05:37:31Z","relation_type_id":"references"},{"license":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","obj_id":"https:\/\/doi.org\/10.21236\/ADA289480","source_token":"8676e950-8ac5-4074-8ac3-c0a18ada7e99","occurred_at":"2004-06-01T00:00:00Z","subj_id":"https:\/\/doi.org\/10.3102\/10769986029002245","id":"15216cb0-e791-492c-a090-391dc1444374","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","message_action":"create","source_id":"crossref","timestamp":"2018-01-04T05:37:31Z","relation_type_id":"references"},{"license":[...]
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?cursor=7eb77386-0e8a-4418-970e-d0b33c5c56d3&from-collected-date=2018-01-04&mailto=info@datacite.org&rows=25&source=crossref&until-collected-date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
    body:
      encoding: ASCII-8BIT
      string: Server is overloaded, please try later
  recorded_at: Sat, 01 Aug 2020 11:58:51 GMT
[...]
