---
http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2023-11-15&mailto=info@datacite.org&rows=0&scholix=true&source=crossref&until-collected-date=2023-11-16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":274,"items-per-page":0,"events":[]}}'
  recorded_at: Thu, 16 Nov 2023 07:27:09 GMT
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2023-11-15&mailto=info@datacite.org&rows=25&scholix=true&source=crossref&until-collected-date=2023-11-16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":"e3966885-db53-4292-8a33-eb994f8da28d","total-results":274,"items-per-page":25,"events":[{"license":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","obj_id":"https:\/\/doi.org\/10.1037\/e415842005-001","source_token":"36c35e23-8757-4a9d-aacf-345e9b7eb50d","occurred_at":"2023-11-14T02:40:39.000Z","subj_id":"https:\/\/doi.org\/10.1002\/jcop.20296","id":"0cb44b7f-2997-4934-917a-9a45e06a260c","evidence_record":"https:\/\/evidence.eventdata.crossref.org\/evidence\/20231114-metadata-32e38f99-41e1-41ef-b09e-946850a52142","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","action":"add","subj":{"pid":"https:\/\/doi.org\/10.1002\/jcop.20296","url":"https:\/\/doi.org\/10.1002\/jcop.20296","work_type_id":"journal-article"},"source_id":"crossref","obj":{"pid":"https:\/\/doi.org\/10.1037\/e415842005-001","url":"https:\/\/doi.org\/10.1037\/e415842005-001","method":"doi-literal","verification":"literal","work_type_id":"dataset"},"timestamp":"2023-11-15T00:19:01Z","relation_type_id":"references"},{"license":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","obj_id":"https:\/\/doi.org\/10.1037\/e439582005-001","source_token":"36c35e23-8757-4a9d-aacf-345e9b7eb50d","occurred_at":"2023-11-14T11:20:05.000Z","subj_id":"https:\/\/doi.org\/10.1007\/s10464-008-9161-4","id":"b7519958-4cbd-48c7-8480-ef7e749d5316","evidence_record":"https:\/\/evidence.eventdata.crossref.org\/evidence\/20231114-metadata-6973afdf-8a7f-4a48-b4c3-a7b78ab563e8","terms":"https:\/\/doi.org\/10.13003\[...]
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?cursor=e3966885-db53-4292-8a33-eb994f8da28d&from-collected-date=2023-11-15&mailto=info@datacite.org&rows=25&scholix=true&source=crossref&until-collected-date=2023-11-16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UT[...]
[...]
