---
http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2023-01-01&mailto=info@datacite.org&rows=0&scholix=true&source=crossref&until-collected-date=2023-01-02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":null,"total-results":355,"items-per-page":0,"events":[]}}'
  recorded_at: Fri, 17 Nov 2023 11:35:42 GMT
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?from-collected-date=2023-01-01&mailto=info@datacite.org&rows=25&scholix=true&source=crossref&until-collected-date=2023-01-02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":"34e5233f-dd8a-49ed-ad0b-eaf8000a1760","total-results":355,"items-per-page":25,"events":[{"license":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","obj_id":"https:\/\/doi.org\/10.2305\/IUCN.UK.2010-3.RLTS.T39742A10261941.en","source_token":"36c35e23-8757-4a9d-aacf-345e9b7eb50d","occurred_at":"2022-12-31T21:13:45.000Z","subj_id":"https:\/\/doi.org\/10.1101\/2021.06.19.449102","id":"c1a99114-39f5-4ce0-8d2f-7e12ce7317b5","evidence_record":"https:\/\/evidence.eventdata.crossref.org\/evidence\/20221231-metadata-213484b7-0224-4400-aaf4-23fcc89c4a8d","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","action":"add","subj":{"pid":"https:\/\/doi.org\/10.1101\/2021.06.19.449102","url":"https:\/\/doi.org\/10.1101\/2021.06.19.449102","work_type_id":"posted-content"},"source_id":"crossref","obj":{"pid":"https:\/\/doi.org\/10.2305\/IUCN.UK.2010-3.RLTS.T39742A10261941.en","url":"https:\/\/doi.org\/10.2305\/IUCN.UK.2010-3.RLTS.T39742A10261941.en","method":"doi-literal","verification":"literal","work_type_id":"dataset"},"timestamp":"2023-01-01T00:04:57Z","relation_type_id":"references"},{"license":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","obj_id":"https:\/\/doi.org\/10.17632\/hx5dvj46rp.1","source_token":"36c35e23-8757-4a9d-aacf-345e9b7eb50d","occurred_at":"2022-12-31T07:43:17.000Z","subj_id":"https:\/\/doi.org\/10.1016\/j.dib.2022.108846","id":"bba8d9ae-1d9c-4ece-8388-e680d45e8c1e","evidence_record":"https:\/\/evidence.eventdata.crossref.org\/evidence\/20221231-metadata-1f02a18c-efdb-469f-9972-fb4bf8be096a","terms":"https:\/\/doi.org\/10.13003\/[...]
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events?cursor=34e5233f-dd8a-49ed-ad0b-eaf8000a1760&from-collected-date=2023-01-01&mailto=info@datacite.org&rows=25&scholix=true&source=crossref&until-collected-date=2023-01-02
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UT[...]
[...]
