---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20181007T062558Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIUG4XO77LTVIG3PA/20181007/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0c06dae8593a934330eb7450bbe17e27aa38fafe1389f8bda582ee3ff4e5e2f8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - abc0a6cb-5678-50e0-82af-f2f8ff4f6252
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>abc0a6cb-5678-50e0-82af-f2f8ff4f6252</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Sun, 07 Oct 2018 06:25:59 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&MaxNumberOfMessages=5&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Ftest_usage&Version=2012-11-05&WaitTimeSeconds=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20181007T062559Z
      X-Amz-Content-Sha256:
      - 5d046af609e1e5adbfea549f8ce1fa0e7e74e76d21ef425cee40d6783cf7d95c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIUG4XO77LTVIG3PA/20181007/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=030283872ddb93ae0293e320bb11d53804e8dc638271e76ae9bcad43e985d220
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 971668f6-2b96-550d-8351-3cc582a1929c
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult/><ResponseMetadata><RequestId>971668f6-2b96-550d-8351-3cc582a1929c</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Sun, 07 Oct 2018 06:26:00 GMT
recorded_with: VCR 3.0.3
