---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/reports/5cac6ca0-9391-4e1d-95cf-ba2f475cbfad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"a2af7c772d0e1af937e036db75f8bbb1"
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"id":"5cac6ca0-9391-4e1d-95cf-ba2f475cbfad","report-header":{"report-name":"Dataset
        Master Report","report-id":"SDR","release":"RD1","created-by":"test9","created":"2018-05-22","reporting-period":{"end-date":"2063-02-30T00:00:00","begin-date":"2063-02-01T00:00:00"},"report-filters":[],"report-attributes":[]},"report-datasets":[{"uri":"https://search.DataONE.org/index.html#view/https://pasta.lternet.edu/package/metadata/eml/knb-lter-luq/88/559501","yop":"2010","platform":"DataONE","data-type":"dataset","publisher":"LTER
        Network","dataset-id":[{"type":"DOI","value":"10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4"}],"performance":[{"period":{"end-date":"2018-03-31","begin-date":"2018-03-01"},"instance":[{"count":349,"metric-type":"total-dataset-requests","access-method":"regular","country-counts":{"au":9,"ca":4,"de":4,"dk":2,"ie":2,"ru":2,"us":9}},{"count":27,"metric-type":"unique-dataset-requests","access-method":"regular","country-counts":{"au":9,"ca":4,"de":4,"dk":2,"ie":2,"ru":2,"us":9}},{"count":8,"metric-type":"total-dataset-investigations","access-method":"regular","country-counts":{"de":4,"ie":2,"ru":2}},{"count":8,"metric-type":"unique-dataset-investigations","access-method":"regular","country-counts":{"de":4,"ie":2,"ru":2}}]}],"publisher-id":[{"type":"orcid","value":"205975.c"}],"dataset-title":"Phenologies
        of the Tabonuco Forest trees and shrubs.","dataset-contributors":[{"type":"name","value":"Jess
        Zimmerman"}]}]}}'
  recorded_at: Thu, 20 Sep 2018 10:47:13 GMT
- request:
    method: put
    uri: https://api.test.datacite.org/events/c41770f8-6261-46b9-8946-de9b25592c15
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c41770f8-6261-46b9-8946-de9b25592c15","type":"events","attributes":{"message-action":"create","subj-id":"https://api.test.datacite.org/reports/5cac6ca0-9391-4e1d-95cf-ba2f475cbfad","obj-id":"https://doi.org/10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4","relation-type-id":"total-dataset-requests-regular","source-id":"datacite-usage","source-token":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","occurred-at":"2018-05-22","timestamp":null,"license":"https://creativecommons.org/publicdomain/zero/1.0/","subj":"","obj":{"id":"https://doi.org/10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4","type":"dataset","name":"Phenologies
        of the Tabonuco Forest trees and shrubs","author":[{"given_name":"Jess","family_name":"Zimmerman"}],"publisher":"Environmental
        Data Initiative","date_published":"2018","date_modified":"2018-03-13T22:13:04Z","provider_id":"datacite.edi.edi"}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYXRhY2l0ZSJ9.u9el_FpmfaQq6REwi2ULhNGAfVE_0xjGMZEttcq8rlw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"You are not authorized to access
        this resource."}]}'
  recorded_at: Thu, 20 Sep 2018 10:47:13 GMT
[...]
