---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":8237107,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 04 Jun 2021 09:19:57 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ41sjB1+4CPxRodHRwOi8vZHguZG9pLm9yZy8xMC4yMTY3NS8yMzU3LTcwN3guMjAxNy52OC5uNC45NzM=","total-results":8237107,"items":[{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T22:40:53Z","timestamp":1574894453800},"posted":{"date-parts":[[2018,10,31]]},"group-title":"PaleorXiv","reference-count":0,"publisher":"Center
        for Open Science","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode","start":{"date-parts":[[2018,10,31]],"date-time":"2018-10-31T00:00:00Z","timestamp":1540944000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Highly
        resolved paleontological records can address a key question about our current
        climate crisis: How long until the biosphere rebounds from our actions? There
        are many ways to conceptualize the recovery of the biosphere; here we focus
        on the global recovery of species diversity. Mass extinction may be expected
        to be followed by rapid speciation, but the fossil record contains many instances
        where speciation is delayed, a phenomenon for whic[...]
