---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":8242270,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 01 Aug 2020 13:31:29 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJxnqL11u4CPwpodHRwOi8vZHguZG9pLm9yZy8xMC40MzI0Lzk3ODEzMTUxNzcxODItNQ==","total-results":8242270,"items":[{"indexed":{"date-parts":[[2019,11,23]],"date-time":"2019-11-23T15:24:02Z","timestamp":1574522642251},"reference-count":0,"publisher":"Wiley","issue":"10","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":1492,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Int.
        J. Numer. Meth. Fluids"],"published-print":{"date-parts":[[2011,8]]},"DOI":"10.1002\/fld.v66.10","type":"journal-issue","created":{"date-parts":[[2018,8,3]],"date-time":"2018-08-03T22:35:08Z","timestamp":1533335708000},"source":"Crossref","is-referenced-by-count":1,"prefix":"10.1002","volume":"66","member":"311","container-title":["International
        Journal for Numerical Methods in Fluids"],"language":"en","link":[{"URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2Ffld.v66.10","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.1002\/fld.v66.10","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,3]],"date-time":"2018-08-03T22:35:08Z","timestamp":1533335708000},"score":1.0,"issued":{"date-parts":[[2011,8]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2011,8]]},"issue":"10"},"URL":"http:\/\/dx.doi.org\/10.1002\/fld.v66.10","ISSN":["0271-2091"],"issn-type":[{"value":"0271-2091","type":"print"}]},{"indexed":{"date-parts":[[2019,11,23]],"date-time":"2019-11-23T19:04:03Z","timestamp":1574535843701},"reference-count":0,"publisher":"Wiley","issue":"9","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":1461,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Protein
        Sc[...]
