---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"*","total-results":8232428,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Mon, 13 Apr 2020 16:48:03 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=*&filter=from-created-date:2018-01-04,until-created-date:2018-12-31&mailto=info@datacite.org&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ+tb+Yxe4CPwRodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2Nqcy52MjI6Mg==","total-results":8232428,"items":[{"indexed":{"date-parts":[[2019,11,20]],"date-time":"2019-11-20T19:54:47Z","timestamp":1574279687911},"reference-count":0,"publisher":"Wiley","issue":"1","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":6758,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Can.
        J. Statistics"],"published-print":{"date-parts":[[1997,3]]},"DOI":"10.1002\/cjs.v25:1","type":"journal-issue","created":{"date-parts":[[2018,8,5]],"date-time":"2018-08-05T08:17:00Z","timestamp":1533457020000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1002","volume":"25","member":"311","container-title":["Canadian
        Journal of Statistics"],"language":"en","link":[{"URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2Fcjs.v25:1","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.1002\/cjs.v25:1","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,5]],"date-time":"2018-08-05T08:17:00Z","timestamp":1533457020000},"score":1.0,"issued":{"date-parts":[[1997,3]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1997,3]]},"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.1002\/cjs.v25:1","ISSN":["0319-5724","1708-945X"],"issn-type":[{"value":"0319-5724","type":"print"},{"value":"1708-945X","type":"electronic"}]},{"indexed":{"date-parts":[[2019,11,20]],"date-time":"2019-11-20T19:54:49Z","timestamp":1574279689354},"reference-count":0,"publisher":"Wiley","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":9131,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"s[...]
