---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/providers/BL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"e4c38a92158d5dab3fe1dfb2d6f473d1"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bl","type":"providers","attributes":{"name":"The British
        Library","symbol":"BL","year":2010,"contact-name":"Rachael Kotarski","contact-email":"datasets@bl.uk","logo-url":"https://assets.datacite.org/images/members/bl.png","is-active":true,"has-password":true,"created":"2010-01-01T00:00:00.000Z","updated":"2018-02-22T01:25:39.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}},"meta":{"clients":[{"id":2010,"title":2010,"count":4},{"id":2011,"title":2011,"count":13},{"id":2012,"title":2012,"count":24},{"id":2013,"title":2013,"count":38},{"id":2014,"title":2014,"count":67},{"id":2015,"title":2015,"count":99},{"id":2016,"title":2016,"count":113},{"id":2017,"title":2017,"count":126},{"id":2018,"title":2018,"count":126}],"dois":[{"id":2011,"title":2011,"count":17020},{"id":2012,"title":2012,"count":1117},{"id":2013,"title":2013,"count":52},{"id":2014,"title":2014,"count":87876},{"id":2015,"title":2015,"count":99199},{"id":2016,"title":2016,"count":21081},{"id":2017,"title":2017,"count":14244},{"id":2018,"title":2018,"count":4504}]}}'
  recorded_at: Thu, 22 Feb 2018 08:20:14 GMT
recorded_with: VCR 3.0.3
