name: Parallel CI
on:
    workflow_call:
jobs:
    parallel-test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
        services:
            memcached:
                image: memcached:1.6.32
                ports:
                    - 11211/udp
        env:
            MEMCACHE_SERVERS: "localhost:11211"
            SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}
            SESSION_ENCRYPTED_COOKIE_SALT: ${{ secrets.SESSION_ENCRYPTED_COOKIE_SALT }}
            JWT_PRIVATE_KEY: ${{ secrets.JWT_PRIVATE_KEY }}
            JWT_PUBLIC_KEY: ${{ secrets.JWT_PUBLIC_KEY }}
            AWS_REGION: ${{ secrets.AWS_REGION }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            STAFF_ADMIN_TOKEN: ${{ secrets.STAFF_ADMIN_TOKEN }}
            STAFF_PROFILES_ADMIN_TOKEN: ${{ secrets.STAFF_PROFILES_ADMIN_TOKEN }}
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3
        
            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                ruby-version: "3.2.9"
                bundler-cache: true
        
            - name: Run Specs
              run: bundle exec rspec
